/* ------------ Главные контейнеры ------------ */
.container {
	margin: auto;

	left: 0;
	right: 0;
	position: absolute;

	border-color: #FFFFFF;
	border-radius: 8px;
	border-style: solid;
	border-width: 2px;

	background-color: #2C313C;
}

/* ------------ Заголовок ------------ */
.heading { 
	margin-top: 4px;
	margin-bottom: 4px;

	text-align: center;
	font-weight: bold;
	letter-spacing: 1px;
}

/* ------------ Информация ------------ */
.purchase-info,
.author-info {
	margin-left: 25px;
	margin-right: 25px;

	letter-spacing: 0.4px;
}

.purchase-info {
	margin-top: 4px;
	margin-bottom: 0;
}

.author-info {
	margin-top: 10px;
	margin-bottom: 0;	
}

.author-info#ol {
	margin-top: 0;
}

/* ------------ Кнопки ------------ */
.buy-paid-account-buttom-control {
	width: calc(100% - 50px);

	margin-top: 10px;
	margin-bottom: 20px;
	margin-left: 25px;
	margin-right: 25px;

	font-weight: bold;
	letter-spacing: 0.8px;

	border: 0;
	border-radius: 12px;

	transition: 0.4s;
	background-color: #595F76;
}

.buy-paid-account-buttom-control:hover {
	transition: 0.4s;
	background-color: #50566E;
}

.buy-paid-account-buttom-control:active {
	background-color: #434965;
}

/* ------------ Адаптация ------------ */
@media (min-width: 320px) and (max-width: 767px) {
	.container {
		width: 300px;

		top: 250px;
	}

	.heading {
		font-size: 24px;
	}

	.purchase-info,
	.author-info {
		font-size: 16px;
	}

	.author-info#ol {
		padding-left: 20px;
	}

	.buy-paid-account-buttom-control {
		height: 40px;

		font-size: 18px;
	}
}

@media (min-width: 768px) and (max-width: 999px) {
	.container {
		width: 700px;

		top: 150px;
	}

	.heading {
		font-size: 40px;
	}

	.purchase-info,
	.author-info {
		font-size: 20px;
	}

	.author-info#ol {
		padding-left: 25px;
	}

	.buy-paid-account-buttom-control {
		height: 50px;

		font-size: 22px;
	}
}

@media (min-width: 1000px) {
	.container {
		width: 1000px;

		top: 125px;
	}

	.heading {
		font-size: 60px;
	}

	.purchase-info,
	.author-info {
		font-size: 24px;
	}

	.author-info#ol {
		padding-left: 30px;
	}

	.buy-paid-account-buttom-control {
		height: 60px;

		font-size: 24px;
	}
}