/* ------------ Главные контейнеры ------------ */
.container {
	width: 1050px;
	height: 379px;

	margin: auto;

	top: 200px;
	left: 0;
	right: 0;
	position: absolute;

	border-color: #FFFFFF;
	border-radius: 8px;
	border-style: solid;
	border-width: 2px;

	background-color: #2C313C;
}

/* ------------ Заголовок ------------ */
.heading{
	margin-top: 4px;
	margin-bottom: 4px;

	text-align: center;
	font-weight: bold;
	font-size: 60px;
	letter-spacing: 1px;
}

/* ------------ Информация ------------ */
.purchase-info,
.author-info {
	margin: 0;

	left: 25px;
	right: 25px;
	position: absolute;

	letter-spacing: 0.4px;
	font-size: 17px;
}

.author-info {
	top: 230px;
}

.author-info#ol {
	top: 250px;

	padding-left: 20px;
}

/* ------------ Кнопки ------------ */
.buy-paid-account-buttom-control {
	width: calc(100% - 50px);
	height: 50px;

	top: 305px;
	left: 25px;
	right: 25px;
	position: absolute;

	font-weight: bold;
	letter-spacing: 0.8px;
	font-size: 24px;

	border: 0;
	border-radius: 12px;

	transition: 0.4s;
	background-color: #595F76;
}

.buy-paid-account-buttom-control:hover {
	transition: 0.4s;
	background-color: #50566E;
}

.buy-paid-account-buttom-control:active {
	background-color: #434965;
}