/* ------------ Главные контейнеры ------------ */
.container {
	margin: auto;

	left: 0;
	right: 0;
	position: absolute;

	border-color: #FFFFFF;
	border-radius: 8px;
	border-style: solid;
	border-width: 2px;

	background-color: #2C313C;
}

/* ------------ Заголовок ------------ */
.heading { 
	margin-top: 4px;
	margin-bottom: 4px;

	text-align: center;
	font-weight: bold;
	letter-spacing: 1px;
}

/* ------------ Информация ------------ */
.purchase-info,
.author-info {
	margin: 0;

	position: absolute;

	letter-spacing: 0.4px;
}

/* ------------ Кнопки ------------ */
.buy-paid-account-buttom-control {
	position: absolute;

	font-weight: bold;
	letter-spacing: 0.8px;

	border: 0;
	border-radius: 12px;

	transition: 0.4s;
	background-color: #595F76;
}

.buy-paid-account-buttom-control:hover {
	transition: 0.4s;
	background-color: #50566E;
}

.buy-paid-account-buttom-control:active {
	background-color: #434965;
}

/* ------------ Адаптация ------------ */
@media (min-width: 320px) and (max-width: 767px) {
	.container {
		width: 300px;
		height: 532px;

		top: 250px;
	}

	.heading {
		font-size: 25px;
	}

	.purchase-info,
	.author-info {
		left: 15px;
		right: 15px;

		font-size: 14px;
	}

	.author-info {
		top: 380px;
	}

	.author-info#ol {
		top: 414px;

		padding-left: 18px;
	}

	.buy-paid-account-buttom-control {
		width: calc(100% - 30px);
		height: 40px;

		top: 475px;
		left: 15px;
		right: 15px;

		font-size: 20px;
	}
}

@media (min-width: 768px) and (max-width: 999px) {
	.container {
		width: 700px;
		height: 360px;

		top: 150px;
	}

	.heading {
		font-size: 40px;
	}

	.purchase-info,
	.author-info {
		left: 25px;
		right: 25px;

		font-size: 16px;
	}

	.author-info {
		top: 232px;
	}

	.author-info#ol {
		top: 250px;

		padding-left: 18px;
	}

	.buy-paid-account-buttom-control {
		width: calc(100% - 50px);
		height: 40px;

		top: 300px;
		left: 25px;
		right: 25px;

		font-size: 22px;
	}
}

@media (min-width: 1000px) {
	.container {
		width: 1000px;
		height: 386px;

		top: 125px;
	}

	.heading {
		font-size: 60px;
	}

	.purchase-info,
	.author-info {
		left: 25px;
		right: 25px;

		font-size: 17px;
	}

	.author-info {
		top: 244px;
	}

	.author-info#ol {
		top: 262px;

		padding-left: 20px;
	}

	.buy-paid-account-buttom-control {
		width: calc(100% - 50px);
		height: 50px;

		top: 315px;
		left: 25px;
		right: 25px;

		font-size: 24px;
	}
}