/* ------------ Главные контейнеры ------------ */
.container {
	position: absolute;

	border-color: #FFFFFF;
	border-radius: 8px;
	border-style: solid;
	border-width: 2px;

	background-color: #2C313C;
}

/* ------------ Заголовок ------------ */
.heading {
	text-align: center;

	margin: 0;

	font-weight: bold;
	letter-spacing: 2px;
}

/* ------------ Информация о сайте ------------ */
.site-info-text {
	margin-top: 10px;
	margin-bottom: 15px;
	margin-left: 20px;
	margin-right: 20px;

	letter-spacing: 0.8px;
}

.site-info-text#botInfo {
	margin-bottom: 0;
}

.site-info-text#importantSiteInfo {
	margin-bottom: 0;
}

.site-info-text#ol {
	margin-top: 0;
	margin-bottom: 20px;

	overflow: hidden;
	text-overflow: ellipsis;
}

/* ------------ Адаптация ------------ */
@media (min-width: 320px) and (max-width: 767px) {
	.container {
		left: 10px;
		right: 10px;
	}

	.heading {
		font-size: 80px;
	}

	.site-info-text {
		font-size: 16px;
	}

	.site-info-text#ol {
		padding-left: 20px;
	}
}

@media (min-width: 768px) {
	.heading {
		font-size: 120px;
	}
}

@media (min-width: 768px) and (max-width: 999px) {
	.container {
		left: 50px;
		right: 50px;
	}

	.site-info-text {
		font-size: 20px;
	}

	.site-info-text#ol {
		padding-left: 25px;
	}
}

@media (min-width: 1000px) {
	.container {
		margin: auto;

		left: 0;
		right: 0;
	}


	.site-info-text {
		font-size: 24px;
	}

	.site-info-text#ol {
		padding-left: 30px;
	}
}

@media (min-width: 1000px) and (max-width: 1499px) {
	.container {
		width: 900px;
	}
}

@media (min-width: 1500px) {
	.container {
		width: 1200px;
	}
}