.container {
	left: 0;
	right: 0;
	margin: 0 auto;
	position: absolute;
}

.site-info {
	top: 100px;
	left: 25%;
	right: 25%;
	position: absolute;
}

.heading {
	text-align: center;

	margin-top: 0px;
	margin-bottom: 10px;

	font-weight: bold;
	font-size: 120px;
	letter-spacing: 3px;
}

.site-info-text{
	letter-spacing: 1px;
	font-size: 24px;
}