{% extends 'base.html' %}

{% block title %}
	<title>Главная страница</title>
{% endblock title %}

{% block styles %}
	{% load static %}
	<link rel="stylesheet" href="{% static 'main/main.css' %}">
{% endblock styles %}

{% block content %}
	<div class="container">
		<div class="site-info">
			<h1 class="heading">Exg1o</h1>
			<p class="site-info-text">
				Exg1o - сайт с помощью которого вы сможете легко и без каких либо навыков в программирование сделать своего Telegram бота.
			</p>
			<p class="site-info-text">
				Возможности конструктора Telegram бота:
				<!-- <ol class="site-info-text">
					<li>Первый</li>
					<li>Первый</li>
					<li>Первый</li>
					<li>Первый</li>
				</ol> -->
			</p>
		</div>
	</div>
{% endblock content %}