{% extends 'base.html' %}

{% block title %}
	<title>Главная страница</title>
{% endblock title %}

{% block styles %}
	{% load static %}
	<link rel="stylesheet" href="{% static 'main/main.css' %}">
	{% if 'konstruktor_button' in navbar %}
		<link rel="stylesheet" href="{% static 'main/mobile_main.css' %}">
	{% endif %}
{% endblock styles %}

{% block content %}
	<div class="container">
		<div class="site-info">
			<h1 class="heading">Exg1o</h1>
			<p class="site-info-text">
				Exg1o - сайт с помощью которого вы сможете легко и без каких либо навыков в программирование сделать своего Telegram бота.
			</p>
			<p id="botInfo" class="site-info-text">
				Возможности конструктора Telegram бота:
				<ol id="ol" class="site-info-text">
					<li>Создавать бота;</li>
					<li>Добавлять команды боту.</li>
				</ol>
			</p>
		</div>
	</div>
{% endblock content %}