/* ------------ Главные контейнеры ------------ */
.container {
	position: absolute;

	border-color: #FFFFFF;
	border-radius: 8px;
	border-style: solid;
	border-width: 2px;

	background-color: #2C313C;
}

/* ------------ Заголовок ------------ */
.heading {
	text-align: center;

	margin: 0;

	font-weight: bold;
	letter-spacing: 2px;
}

/* ------------ Информация о сайте ------------ */
.site-info-text {
	margin-top: 10px;
	margin-bottom: 15px;
	margin-left: 20px;
	margin-right: 20px;

	letter-spacing: 0.8px;
}

.site-info-text#botInfo {
	margin-bottom: 0;
}

.site-info-text#importantSiteInfo {
	margin-bottom: 0;
}

.site-info-text#ol {
	margin-top: 0;
	margin-bottom: 20px;

	overflow: hidden;
	text-overflow: ellipsis;
}

/* ------------ Кнопки ------------ */
.site-user {
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 6px;
	padding-right: 6px;

	font-weight: bold;
	letter-spacing: 0.8px;

	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

	border: 0;
	border-radius: 8px;

	transition: 0.4s;
	background-color: #595F76;
}

.site-user:hover {
	transition: 0.4s;
	background-color: #50566E;
}

.site-user:active {
	background-color: #434965;
}

/* ------------ Адаптация ------------ */
@media (min-width: 320px) and (max-width: 767px) {
	.container {
		left: 10px;
		right: 10px;
	}

	.heading#siteUsers {
		font-size: 31px;
	}

	.site-users-list {
		margin-top: 5px;
		margin-bottom: 6px;
		margin-left: 10px;
		margin-right: 10px;
	}

	.site-user {
		max-width: 258px;

		margin-bottom: 4px;
		margin-right: 2px;

		font-size: 18px;
	}

	.heading#siteInfo {
		font-size: 46px;
	}

	.site-info-text {
		font-size: 16px;
	}

	.site-info-text#ol {
		padding-left: 20px;
	}
}

@media (min-width: 768px) and (max-width: 999px) {
	.container {
		left: 50px;
		right: 50px;
	}

	.heading#siteUsers {
		font-size: 51px;
	}

	.site-users-list {
		margin-bottom: 9px;
		margin-left: 15px;
		margin-right: 15px;
	}

	.site-user {
		max-width: 622px;
		
		margin-bottom: 6px;
		margin-right: 4px;

		font-size: 20px;
	}

	.heading#siteInfo {
		font-size: 86px;
	}

	.site-info-text {
		font-size: 20px;
	}

	.site-info-text#ol {
		padding-left: 25px;
	}
}

@media (min-width: 1000px) {
	.container {
		margin: auto;

		left: 0;
		right: 0;
	}

	.heading#siteUsers {
		font-size: 72px;
	}

	.site-users-list {
		margin-bottom: 8px;
		margin-left: 16px;
		margin-right: 16px;
	}

	.site-user {
		max-width: 864px;

		margin-bottom: 8px;
		margin-right: 6px;

		font-size: 22px;
	}

	.heading#siteInfo {
		font-size: 100px;
	}

	.site-info-text {
		font-size: 24px;
	}

	.site-info-text#ol {
		padding-left: 30px;
	}
}

@media (min-width: 1000px) and (max-width: 1499px) {
	.container {
		width: 900px;
	}
}

@media (min-width: 1500px) {
	.container {
		width: 1200px;
	}
}