{% load i18n %}

{% with modal_id='askConfirmModal' %}
	<div class="modal fade" id="{{ modal_id }}" tabindex="-1" aria-labelledby="{{ modal_id }}Title" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="{{ modal_id }}Title"></h5>
					<button class="btn-close" type="button" data-bs-dismiss="modal"></button>
				</div>
				<div class="modal-body" id="{{ modal_id }}Body"></div>
				<div class="modal-footer d-flex gap-2">
					<button class="btn btn-success flex-fill" id="{{ modal_id }}YesButton" type="button">{% trans 'Да' %}</button>
					<button class="btn btn-danger flex-fill" type="button" data-bs-dismiss="modal">{% trans 'Нет' %}</button>
				</div>
			</div>
		</div>
	</div>
{% endwith %}