/* ------------ Главные контейнеры ------------ */
.container {
	margin: auto;

	left: 0;
	right: 0;
	position: absolute;

	border-color: #FFFFFF;
	border-radius: 8px;
	border-style: solid;
	border-width: 2px;

	background-color: #2C313C;
}

/* ------------ Заголовок ------------ */
.heading {
	margin-top: 4px;
	margin-bottom: 4px;

	text-align: center;
	font-weight: bold;
	letter-spacing: 1px;
}

/* ------------ Контейнер для основых элементов ------------ */
.authorization-form {
	position: absolute;
}

/* ------------ Inputs ------------ */
.login-input-control,
.password-input-control {
	width: 100%;

	margin-bottom: 8px;

	outline: 0;
	border: 0;
}

.login-input-control {
	width: 100%;

	border-radius: 8px;
}

.password-input-control {
	width: calc(100% - 40px);

	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}

.password-button-control {
	width: 40px;

	margin-bottom: 8px;

	right: 0px;
	position: absolute;

	background: #FFFFFF;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 36px 24px;

	border: 0;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}

.password-button-control#hidePassword {
	background-image: url('../images/eyeOn.png');
}

.password-button-control#showPassword {
	background-image: url('../images/eyeOff.png');
}

/* ------------ Кнопки ------------ */
.buttons {
	position: absolute;
}

.not-have-account-button-control {
	transform: translate(0, -50%);
	position: absolute;

	letter-spacing: 0.4px;
}

.authorization-button-control {
	position: absolute;

	font-weight: bold;
	letter-spacing: 0.8px;

	border: 0;
	border-radius: 12px;

	transition: 0.4s;
	background-color: #595F76;
}

.authorization-button-control:hover {
	transition: 0.4s;
	background-color: #50566E;
}

.authorization-button-control:active {
	background-color: #434965;
}

/* ------------ Адаптация ------------ */
@media (min-width: 320px) {
	.authorization-form,
	.buttons {
		left: 20px;
		right: 20px;
	}
}

@media (min-width: 320px) and (max-width: 767px) {
	.container {
		height: 242px;
	}

	.heading {
		font-size: 36px;
	}

	.login-input-control,
	.password-input-control {
		height: 38px;

		font-size: 22px;
	}

	.password-button-control {
		height: 38px;
	}

	.buttons {
		height: 77px;

		top: 145px;
	}

	.not-have-account-button-control {
		top: 65px;
		right: 30px;
		left: 30px;

		text-align: center;
		font-size: 18px;
	}

	.authorization-button-control {
		width: 100%;
		height: 45px;

		font-size: 20px;
	}
}

@media (min-width: 768px) and (max-width: 999px) {
	.container {
		width: 600px;
		height: 273px;
	}

	.heading {
		font-size: 76px;
	}

	.login-input-control,
	.password-input-control {
		height: 42px;

		font-size: 24px;
	}

	.password-button-control {
		height: 42px;
	}

	.buttons {
		height: 50px;

		top: 199px;
	}

	.not-have-account-button-control {
		top: 50%;
		left: 50px;

		text-align: center;
		font-size: 18px;
	}

	.authorization-button-control {
		width: 200px;
		height: 50px;

		right: 0;

		font-size: 22px;
	}
}

@media (min-width: 1000px) {
	.container {
		width: 780px;
		height: 320px;
	}

	.heading {
		font-size: 100px;
	}

	.login-input-control,
	.password-input-control {
		height: 45px;

		font-size: 28px;
	}

	.password-button-control {
		height: 45px;
	}

	.buttons {
		height: 60px;

		top: 236px;
	}

	.not-have-account-button-control {
		top: 50%;
		left: 75px;

		text-align: center;
		font-size: 18px;
	}

	.authorization-button-control {
		width: 220px;
		height: 60px;

		right: 0;

		font-size: 24px;
	}
}