.container {
	width: 685px;
	height: 325px;

	top: 200px;
	left: 0;
	right: 0;
	margin: auto;
	position: absolute;

	border-color: #FFFFFF;
	border-radius: 8px;
	border-style: solid;
	border-width: 2px;

	background-color: #2C313C;
}

.heading{
	margin-top: 0px;
	margin-bottom: 6px;

	text-align: center;
	font-weight: bold;
	font-size: 100px;
	letter-spacing: 3px;
}

.authorization-form{
	left: 75px;
	right: 75px;
	position: absolute;
}

.login-input-control,
.password-input-control,
.password-button-control {
	width: 100%;
	height: 45px;

	margin-top: 4px;
	margin-bottom: 4px;

	font-size: 28px;

	outline: 0;
	border: 0;
	border-radius: 8px;
}

.password-button-control {
	width: 40px;
	height: 45px;

	right: 0px;
	position: absolute;

	background: none;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 36px 24px;
}

.password-button-control#hidePassword {
	background-image: url('../images/eyeOn.png');
}

.password-button-control#showPassword {
	background-image: url('../images/eyeOff.png');
}

.buttons {
	height: 60px;

	left: 75px;
	right: 75px;
	top: 233px;
	position: absolute;
}

.not-have-account-button-control {
	top: 50%;
	left: 75px;
	transform: translate(0, -50%);
	position: absolute;

	font-size: 16px;
}

.authorization-button-control {
	width: 200px;
	height: 60px;

	right: 0;
	position: absolute;

	font-size: 20px;
	font-weight: bold;
	letter-spacing: 0.5px;

	border: 0;
	border-radius: 12px;

	transition: 0.4s;
	background-color: #595F76;
}

.authorization-button-control:hover {
	transition: 0.4s;
	background-color: #50566E;
}

.authorization-button-control:active {
	background-color: #434965;
}

.error-message{
	height: 25px;

	top: 228px;
	left: 75px;
	right: 75px;
	position: absolute;

	margin: 0;

	font-size: 18px;
	text-align: center;

	color: #ff006a;
}