{% extends 'main.html' %}
{% load static %}

{% block title %}Главная страница{% endblock title %}

{% block main %}
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-12 col-lg-9 text-center">
				<h1>Constructor Telegram Bots</h1>
				<p class="lead w-75 mx-auto">
					Сайт, с помощью которого вы можете легко и без каких-либо знаний в программирование, создать своего многофункционального Telegram бота.
				</p>
			</div>
			<div class="col-8 col-lg-4">
				<a class="btn btn-lg btn-outline-dark fw-bold w-100" href="/">Узнать больше</a>
			</div>
		</div>
	</div>
{% endblock main %}
