# Mode the application runs in. Allowed values: locale, production
MODE=locale

# Django secret key used for cryptographic signing.
# Ensure to use a strong random value in production.
SECRET_KEY=

# Public URL of your application that is accessible from the outside
SELF_URL=https://yourdomain.com

# Enable or disable Telegram Login Widget/Authentication (true or false)
ENABLE_TELEGRAM_AUTH=true

# Telegram Bot Token used for authentication and communicating with Telegram Bot API
TELEGRAM_BOT_TOKEN=

# Telegram Bot ID (usually the first part of the bot token before the colon)
TELEGRAM_BOT_ID=

# Database configuration
DATABASE_NAME=constructor_telegram_bots
DATABASE_USER=exg1o
DATABASE_PASSWORD=password

# Public HTTP port exposed by Nginx on the host machine
HTTP_PORT=8000
