aiofiles==23.1.0
aiogram==3.1.1
aiohttp==3.8.5
aiosignal==1.3.1
amqp==5.1.1
annotated-types==0.5.0
asgiref==3.7.2
async-timeout==4.0.3
attrs==23.1.0
billiard==4.1.0
celery==5.3.4
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
Django==4.2.5
django-admin-interface==0.26.1
django-colorfield==0.10.1
django-modeltranslation==0.18.11
django-tinymce==3.6.1
djangorestframework==3.14.0
dnspython==2.4.2
drf-standardized-errors==0.12.5
frozenlist==1.4.0
gunicorn==21.2.0
idna==3.4
Jinja2==3.1.2
kombu==5.3.2
magic-filter==1.0.11
MarkupSafe==2.1.3
multidict==6.0.4
packaging==23.1
Pillow==10.0.1
prompt-toolkit==3.0.39
psycopg==3.1.12
pydantic==2.3.0
pydantic_core==2.6.3
pymongo==4.5.0
python-dateutil==2.8.2
python-dotenv==1.0.0
python-slugify==8.0.1
pytz==2023.3.post1
redis==5.0.1
requests==2.31.0
six==1.16.0
sqlparse==0.4.4
text-unidecode==1.3
typing_extensions==4.7.1
tzdata==2023.3
urllib3==2.0.5
vine==5.0.0
wcwidth==0.2.6
yarl==1.9.2
