{% extends 'base.html' %}

{% block title %}
	<title>Авторизация</title>
{% endblock title %}

{% block styles %}
	{% load static %}
	<link rel="stylesheet" href="{% static 'authorization/authorization.css' %}">
{% endblock styles %}

{% block content %}
	<div id="container" class="container">
		<h1 class="heading">АВТОРИЗАЦИЯ</h1>
		<div class="authorization-form">
			<input id="inputLogin" class="login-input-control" type="text" placeholder="Введите login"></input>
			<input id="inputPassword" class="password-input-control" type="password" placeholder="Введите password"></input>
			<button id="hidePassword" class="password-button-control" onclick="hideOrShowButtonClick()"></button>
		</div>
		<div id="buttons" class="buttons">
			<a id="notHaveAccountButton" class="not-have-account-button-control" href="../registration/">Ещё нет аккаунта?</a>
			<button id="authorizationButton" class="authorization-button-control" onclick="authorizationButtonClick()">Авторизоваться</button>
		</div>
	</div>
{% endblock content %}

{% block scripts %}
	<script src="{% static 'authorization/authorization.js' %}"></script>
{% endblock scripts %}