.monaco-editor-wrapper {
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

	&.padding {
		padding: 6px 12px;
	}

	&.focus {
		border-color: #86b7fe!important;
		box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
	}
}