@import 'styles/variables';

@mixin styles() {
	* {
		margin: 2.5px 0;

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	code, pre {
		padding: 2px 4px;
	}

	code {
		color: $dark;
		background-color: #eeeff0;
		border-radius: 4px;
	}

	pre {
		color: $light;
		background-color: $dark;
		border-radius: 4px;
	}

	blockquote {
		border-left: 4px solid #d9dadb;
		padding: 4px 12px;
	}
}