@import '~bootstrap/scss/offcanvas';

.offcanvas-header {
	border-bottom: $border-width $border-style $border-color;
}

.offcanvas-footer {
	display: flex;
	flex-direction: column;
	padding: $offcanvas-padding-y $offcanvas-padding-x;
	border-top: $border-width $border-style $border-color;
}