/* ------------ Главные контейнеры ------------ */
.container {
	margin: auto;

	left: 0;
	right: 0;
	position: absolute;

	border-color: #FFFFFF;
	border-radius: 8px;
	border-style: solid;
	border-width: 2px;

	background-color: #2C313C;
}

/* ------------ Заголовок ------------ */
.heading {
	margin-top: 4px;
	margin-bottom: 4px;

	text-align: center;
	font-weight: bold;
	letter-spacing: 1px;
}

/* ------------ Контейнер для переменных ------------ */
.variables {
	padding-top: 4px;
	padding-left: 4px;
	padding-right: 4px;

	border-color: #FFFFFF;
	border-radius: 8px;
	border-style: solid;
	border-width: 2px;

	background-color: #1B1D23;
}

.variable-button-control {
	height: 28px;

	margin-bottom: 4px;

	font-weight: bold;
	letter-spacing: 0.8px;
	font-size: 17px;

	border: 0;
	border-radius: 8px;

	transition: 0.4s;
	background-color: #4d5163;
}

.variable-button-control:hover {
	transition: 0.4s;
	background-color: #50566E;
}

.variable-button-control:active {
	background-color: #434965;
}

/* ------------ Inputs ------------ */
.command-name-input-control,
.command-input-control,
.command-answer-input-control {
	width: 100%;

	margin-top: 4px;
	margin-bottom: 4px;

	outline: 0;
	border: 0;
	border-radius: 8px;
}

.command-answer-input-control {
	resize: none;
}

/* ------------ Кнопки ------------ */
.add-command-button-control,
.back-button-control {
	width: 100%;

	margin-bottom: 8px;

	font-weight: bold;
	letter-spacing: 0.8px;

	border: 0;
	border-radius: 12px;

	transition: 0.4s;
	background-color: #595F76;
}

.add-command-button-control:hover,
.back-button-control:hover {
	transition: 0.4s;
	background-color: #50566E;
}

.add-command-button-control:active,
.back-button-control:active {
	background-color: #434965;
}

@media (min-width: 320px) {
	.add-command-form {
		margin-top: 6px;
		margin-bottom: 3px;
	}

	.buttons {
		margin-bottom: 12px;
	}
}

@media (min-width: 320px) and (max-width: 767px) {
	.container {
		width: 300px;

		top: 250px;
	}

	.heading {
		font-size: 40px;
	}

	.variables,
	.add-command-form,
	.buttons {
		margin-left: 20px;
		margin-right: 20px;
	}

	.command-name-input-control,
	.command-input-control,
	.command-answer-input-control {
		font-size: 22px;
	}

	.command-name-input-control,
	.command-input-control {
		height: 38px;
	}

	.command-answer-input-control {
		height: 114px;
	}
	
	.add-command-button-control,
	.back-button-control {
		height: 45px;

		font-size: 20px;
	}
}

@media (min-width: 768px) {
	.variables,
	.add-command-form,
	.buttons {
		margin-left: 50px;
		margin-right: 50px;
	}
}

@media (min-width: 768px) and (max-width: 999px) {
	.container {
		width: 700px;

		top: 100px;
	}

	.heading {
		font-size: 52px;
	}

	.command-name-input-control,
	.command-input-control,
	.command-answer-input-control {
		font-size: 24px;
	}

	.command-name-input-control,
	.command-input-control {
		height: 42px;
	}

	.command-answer-input-control {
		height: 126px;
	}

	.add-command-button-control,
	.back-button-control {
		height: 50px;

		font-size: 22px;
	}
}

@media (min-width: 1000px) {
	.container {
		width: 800px;

		top: 125px;
	}

	.heading {
		font-size: 60px;
	}

	.command-name-input-control,
	.command-input-control,
	.command-answer-input-control {
		font-size: 28px;
	}

	.command-name-input-control,
	.command-input-control {
		height: 45px;
	}

	.command-answer-input-control {
		height: 135px;
	}

	.add-command-button-control,
	.back-button-control {
		height: 60px;

		font-size: 24px;
	}
}