*, *::before, *::after {
	box-sizing: border-box;

	font-family: Roboto, sans-serif;
	color: #FFFFFF;
}

body {
	position: relative;

	background-color: #1B1D23;
}

input,
textarea {
	color: #000000
}

button {
	cursor: pointer;
}

.top-navbar {
	top: 0;
	left: 0;
	right: 0;
	z-index: 9;
	position: fixed;

	border-bottom-color: #FFFFFF;
	border-bottom-style: solid;
	border-bottom-width: 2px;

	background-color: #2C313C;
}

/* ------------ Кнопки ------------ */
.button-link-control {
	position: fixed;

	font-weight: bold;

	border: 0;
}

.button-link-control {
	height: 50px;

	font-size: 22px;
	letter-spacing: 0.8px;

	border-radius: 12px;

	transition: 0.4s;
	background-color: #595F76;
}

.button-link-control:hover {
	transition: 0.4s;
	background-color: #50566E;
}

.button-link-control:active {
	background-color: #434965;
}

/* ------------ Сообщение ------------ */
.message-container {
	width: 100%;

	left: 0;
	right: 0;
	z-index: 9;
	position: fixed;

	transition: 0.15s;
}

.message {
	width: 100%;

	margin: 0;
	padding: 4px;

	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

	text-align: center;
	font-size: 20px;

	transition: 0.15s;
}

/* ------------ Адаптация ------------ */
@media (min-width: 320px) and (max-width: 767px) {
	.top-navbar {
		height: 173px;
	}

	.button-link-control {
		width: calc(100% - 30px);

		left: 15px;
		right: 15px;
	}

	.button-link-control {
		height: 40px;
	}

	.button-link-control#mainPageButtonLink {
		top: 15px
	}

	.button-link-control#registrationButtonLink,
	.button-link-control#signOutButtonLink {
		top: 65px;
	}

	.button-link-control#authorizationButtonLink,
	.button-link-control#profileButtonLink {
		top: 115px;
	}

	.button-link-control#constructorButtonLink {
		top: 165px;
	}

	.message-container {
		height: 32px;

		top: 173px;
	}

	.container {
		top: 185px;
	}
}

@media (min-width: 768px) {
	.top-navbar {
		height: 82px;
	}

	.button-link-control {
		width: 160px;

		top: 15px;
		bottom: 15px;
	}

	.button-link-control#mainPageButtonLink {
		width: 214px;
		
		right: 20px;
	}

	.button-link-control#signOutButtonLink,
	.button-link-control#registrationButtonLink {
		right: 245px;
	}

	.button-link-control#profileButtonLink,
	.button-link-control#authorizationButtonLink {
		right: 417px;
	}

	.button-link-control#constructorButtonLink {
		right: 589px;
	}

	.message-container {
		height: 30px;

		top: 80px;
	}

	.container {
		top: 99px;
	}
}

@media (min-width: 1000px) {
	.container {
		top: 124px;
	}
}