{% extends 'base_telegram_bot_menu.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Список переменных" %}{% endblock title %}

{% block monaco_editor_styles %}{% endblock monaco_editor_styles %}

{% block styles %}
{{ block.super }}
<link href="{% static 'telegram_bot_menu/css/telegram_bot_variables.css' %}" rel="stylesheet">
{% endblock styles %}

{% block content %}
<div class="d-flex justify-content-center">
	<div class="border rounded p-1" id="telegramBotVariables">
		<table class="table table-borderless align-middle mb-0">
			<tbody>
				<tr>
					<th>{% trans "ID пользователя" %}:</th>
					<td>{% verbatim %}{{ user_id }}{% endverbatim %}</td>
				</tr>
				<tr>
					<th>{% trans "@username пользователя" %}:</th>
					<td>{% verbatim %}{{ user_username }}{% endverbatim %}</td>
				</tr>
				<tr>
					<th>{% trans "Имя пользователя" %}:</th>
					<td>{% verbatim %}{{ user_first_name }}{% endverbatim %}</td>
				</tr>
				<tr>
					<th>{% trans "Фамилия пользователя" %}:</th>
					<td>{% verbatim %}{{ user_last_name }}{% endverbatim %}</td>
				</tr>
				<tr>
					<th>{% trans "ID сообщения пользователя" %}:</th>
					<td>{% verbatim %}{{ user_message_id }}{% endverbatim %}</td>
				</tr>
				<tr>
					<th>{% trans "Текст сообщения пользователя" %}:</th>
					<td>{% verbatim %}{{ user_message_text }}{% endverbatim %}</td>
				</tr>
				<tr>
					<th>{% trans "Данные из базы данных" %}:</th>
					<td>{% verbatim %}{{ database_records }}{% endverbatim %}</td>
				</tr>
				<tr>
					<th>{% trans "Ответ с API-запроса" %}:</th>
					<td>{% verbatim %}{{ api_response }}{% endverbatim %}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
{% endblock content %}

{% block monaco_editor_scripts %}{% endblock monaco_editor_scripts %}