/* ------------ Кнопки ------------ */
.save-command-button-control,
.delete-command-button-control {
	width: 100%;

	margin-bottom: 8px;

	font-weight: bold;
	letter-spacing: 0.8px;

	border: 0;
	border-radius: 12px;

	transition: 0.4s;
	background-color: #595F76;
}

.save-command-button-control:hover,
.delete-command-button-control:hover {
	transition: 0.4s;
	background-color: #50566E;
}

.save-command-button-control:active,
.delete-command-button-control:active {
	background-color: #434965;
}

/* ------------ Адаптация ------------ */
@media (min-width: 320px) and (max-width: 767px) {
	.container {
		width: 300px;
		height: 551px;
	}

	.heading {
		font-size: 29px;
	}

	.add-command-form {
		top: 156px;
	}

	.buttons {
		top: 376px;
	}

	.save-command-button-control,
	.delete-command-button-control {
		height: 45px;
		font-size: 20px;
	}
}

@media (min-width: 768px) and (max-width: 999px) {
	.container {
		width: 700px;
		height: 535px;
	}

	.heading {
		font-size: 42px;
	}

	.add-command-form {
		top: 105px;
	}

	.buttons {
		top: 345px;
	}

	.save-command-button-control,
	.delete-command-button-control {
		height: 50px;
		font-size: 22px;
	}
}

@media (min-width: 1000px) {
	.container {
		width: 950px;
		height: 601px;
	}

	.heading {
		font-size: 60px;
	}

	.add-command-form {
		top: 126px;
	}

	.buttons {
		top: 381px;
	}

	.save-command-button-control,
	.delete-command-button-control {
		height: 60px;
		font-size: 24px;
	}
}