@media (min-width: 320px) and (max-width: 767px) {
	.container {
		height: 472px;
	}

	.profile-info {
		height: 78px;
	}
}

@media (min-width: 768px) and (max-width: 999px) {
	.container {
		height: 474px;
	}

	.profile-info {
		height: 80px;
	}
}