{% with 'addOrEditTelegramBotCommand' as modal_name %}
	<div class="modal fade" id="{{ modal_name }}Modal" tabindex="-1" aria-labelledby="{{ modal_name }}ModallLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="{{ modal_name }}ModallLabel"></h5>
					<button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div id="{{ modal_name }}ModalAlertPlaceholder"></div>
					<div class="row row-cols-1">
						<div class="col-auto mb-2">
							<div class="form-check form-switch form-check-reverse mb-0">
								<input class="form-check-input" id="{{ modal_name }}IsShowPromptsCheckBox" type="checkbox">
								<label class="form-check-label text-left" for="{{ modal_name }}IsShowPromptsCheckBox">Показать подсказки:</label>
							</div>
						</div>
						<div class="col mb-2">
							<label class="form-label mb-0" for="variables">Доступные переменные:</label>
							<p class="mb-0" id="variables">
								<b>${user_id}</b> - Telegram ID пользователя.<br>
								<b>${username}</b> - Имя пользователя.<br>
								<b>${user_message_text}</b> - Сообщение пользователя.<br>
								<b>${web_api}:{ссылка}</b> - Ответ с Web-API.
							</p>
							<p class="mb-0 d-none" id="prompt"><small>Список переменных, которые вы можете использовать в тексте сообщения. Например, если вы используете ${user_id}, оно будет заменено на Telegram ID пользователя, ${username} будет заменено на имя пользователя, ${user_message_text} будет заменено на текст сообщения пользователя, а ${web_api}:{ссылка} будет заменено на ответ с Web-API.</small></p>
						</div>
						<div class="col mb-2">
							<form class="form-floating">
								<input class="form-control" id="{{ modal_name }}NameInput" type="text" placeholder="Название команды">
								<label for="{{ modal_name }}NameInput">Введите название команды</label>
								<p class="mb-0 d-none" id="prompt"><small>Текстовое поле, где вы должны ввести название команды для вашего Telegram бота. Например: "start".</small></p>
							</form>
						</div>
						<div class="col mb-2">
							<form class="form-floating">
								<input class="form-control" id="{{ modal_name }}CommandInput" type="text" placeholder="Команда"></input>
								<label for="{{ modal_name }}CommandInput">Введите команду</label>
								<p class="mb-0 d-none" id="prompt"><small>Текстовое поле, где вы можете ввести саму команду, которую telegram бот будет распознавать. Например, если вы ввели "start" в поле "Название команды", то здесь вы можете ввести "/start" или любой другой текст, который telegram бот будет интерпретировать как команду.</small></p>
							</form>
						</div>
						<div class="col mb-2">
							<form class="form-floating">
								<input class="form-control" id="{{ modal_name }}CallBackInput" type="text" placeholder="CallBack текст">
								<label for="{{ modal_name }}CallBackInput">Введите CallBack текст</label>
								<p class="mb-0 d-none" id="prompt"><small>Текстовое поле, где вы можете ввести CallBack текста, который будет отправлен Telegram боту при нажатии на кнопку встроенной клавиатуры.</small></p>
							</form>
						</div>
						<div class="col mb-2">
							<form class="form-floating">
								<textarea class="form-control" id="{{ modal_name }}TextInput" type="text" placeholder="Текст сообщения"></textarea>
								<label for="{{ modal_name }}TextInput">Введите текст сообщения</label>
								<p class="mb-0 d-none" id="prompt"><small>Текстовое поле, где вы должны ввести текст сообщения, которое Telegram бот будет отправлять пользователю после обработки команды.</small></p>
							</form>
						</div>
						<div class="col">
							<label class="form-label mb-1" for="keyboardModes">Выбирите клавиатуру</label>
							<div class="input-group" id="keyboardModes">
								<input class="btn-check" id="offKeyboardRadio" name="keyboard-modes" type="radio" checked>
								<label class="btn btn-sm btn-outline-dark rounded-0 rounded-start" for="offKeyboardRadio">Выкл.</label>
								<input class="btn-check" id="defaultKeyboardRadio" name="keyboard-modes" type="radio">
								<label class="btn btn-sm btn-outline-dark rounded-0" for="defaultKeyboardRadio">Обычная</label>
								<input class="btn-check" id="inlineKeyboardRadio" name="keyboard-modes" type="radio">
								<label class="btn btn-sm btn-outline-dark rounded-0 rounded-end" for="inlineKeyboardRadio">Встроенная</label>
							</div>
						</div>
						<div class="col keyboard mt-2 d-none" id="offKeyboard">
							<div class="row row-cols-1">
								<div class="col">
									<label class="form-label mb-1" for="examplekeyboardButton">Пример кнопки для клавиатуры</label>
									<button class="btn btn-sm btn-outline-dark w-100 mb-1" id="examplekeyboardButton" type="button"></button>
								</div>
								<div class="col">
									<label class="form-label mb-1" for="keyboardButtons">Клавиатура</label>
									<div id="keyboardButtons"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-success w-100" id="{{ modal_name }}Button" type="button"></button>
				</div>
			</div>
		</div>
	</div>
{% endwith %}