<div class="modal fade" id="addOrEditTelegramBotCommandModal" tabindex="-1" aria-labelledby="addOrEditTelegramBotCommandModallLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addOrEditTelegramBotCommandModallLabel"></h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="addOrEditTelegramBotCommandModalAlertPlaceholder"></div>
                <div class="row">
                    <div class="col-12 mb-2">
                        <form class="form-floating">
                            <input class="form-control" id="addOrEditTelegramBotCommandNameInput" type="text" placeholder="Придумайте название команде">
                            <label for="addOrEditTelegramBotCommandNameInput">Придумайте название команде</label>
                        </form>
                    </div>
                    <div class="col-12 mb-2">
                        <form class="form-floating">
                            <input class="form-control" id="addOrEditTelegramBotCommandCommandInput" type="text" placeholder="Придумайте команду"></input>
                            <label for="addOrEditTelegramBotCommandCommandInput">Придумайте команду</label>
                        </form>
                    </div>
                    <div class="col-12 mb-2">
                        <form class="form-floating">
                            <input class="form-control" id="addOrEditTelegramBotCommandCallBackInput" type="text" placeholder="Введите CallBack текст">
                            <label for="addOrEditTelegramBotCommandCallBackInput">Введите CallBack текст</label>
                        </form>
                    </div>
                    <div class="col-12 mb-2">
                        <form class="form-floating">
                            <textarea class="form-control" id="addOrEditTelegramBotCommandTextInput" type="text" placeholder="Введите текст сообщения"></textarea>
                            <label for="addOrEditTelegramBotCommandTextInput">Введите текст сообщения</label>
                        </form>
                    </div>
                    <div class="col-12 mb-2">
                        <div class="form-check form-switch">
                            <table class="mb-0">
                                <tbody>
                                    <td class="align-middle">
                                        <input class="form-check-input" id="addOrEditTelegramBotCommandEditLastMessageCheckBox" type="checkbox" value="ON">
                                    </td>
                                    <td>
                                        <label class="form-check-label" for="addOrEditTelegramBotCommandEditLastMessageCheckBox">Изменить последние сообщение Telegram бота на текст выше.</label>
                                    </td>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-12">
                        <label class="form-label mb-1" for="keyboardModes">Выбирите клавиатуру</label>
                        <div class="row" id="keyboardModes">
                            <div class="col-auto pe-0">
                                <input class="btn-check" id="offKeybordRadio" name="options-outlined" type="radio" checked>
                                <label class="btn btn-sm btn-outline-dark rounded-0 rounded-start" for="offKeybordRadio">Выкл.</label>
                            </div>
                            <div class="col-auto px-0">
                                <input class="btn-check" id="defaultKeyboardRadio" name="options-outlined" type="radio">
                                <label class="btn btn-sm btn-outline-dark border-start-0 border-end-0 rounded-0" for="defaultKeyboardRadio">Обычная</label>
                            </div>
                            <div class="col-auto ps-0">
                                <input class="btn-check" id="inlineKeyboardRadio" name="options-outlined" type="radio">
                                <label class="btn btn-sm btn-outline-dark rounded-0 rounded-end" for="inlineKeyboardRadio">Встроенная</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 keyboard mt-2 d-none" id="offKeybord">
                        <label class="form-label mb-1" for="keyboardButtons">Клавиатура</label>
                        <div id="keyboardButtons"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline-success w-100" id="addTelegramBotCommandButton" type="button">Добавить команду</button>
            </div>
        </div>
    </div>
</div>