<div class="modal fade" id="duplicateTelegramBotModal" tabindex="-1" aria-labelledby="duplicateTelegramBotModalLabel" aria-hidden="true">
	<div class="modal-dialog">i
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="duplicateTelegramBotModalLabel">Дублирование Telegram бота</h5>
				<button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div id="duplicateTelegramBotModalAlertPlaceholder"></div>
				<div class="row row-cols-1">
					<div class="col mb-1">
						<form class="form-floating">
							<input class="form-control" id="duplicateTelegramBotTokenInput" type="text" placeholder="Введите токен нового Telegram бота">
							<label for="aduplicateTelegramBotTokenInput">Введите токен нового Telegram бота</label>
						</form>
					</div>
					<div class="col">
						<div class="form-check form-switch mb-0">
							<table class="mb-0">
								<tbody>
									<td class="align-middle">
										<input class="form-check-input" id="duplicateTelegramBotPrivateCheckBox" type="checkbox" checked>
									</td>
									<td>
										<label class="form-check-label" for="duplicateTelegramBotPrivateCheckBox">Сделать нового Telegram бота приватным.</label>
									</td>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-outline-success w-100" id="duplicateTelegramBotButton" type="button">Дублировать Telegram бота</button>
			</div>
		</div>
	</div>
</div>