{% extends 'base_donation.html' %}
{% load i18n %}

{% block content %}
{% for donation_section in donation_sections %}
	<div>
		<h3 class="mb-1">{{ donation_section.title }}</h3>
		{% autoescape off %}
			{{ donation_section.text }}
		{% endautoescape %}
	</div>
{% endfor %}
<form action="https://www.paypal.com/donate" method="post">
	<input name="hosted_button_id" type="hidden" value="RBCS5HAMZS5Z6"/>
	<button class="btn btn-dark w-100" name="submit">
		<i class="bi bi-paypal text-primary me-1"></i>
		{% trans 'Сделать пожертвование через PayPal' %}
	</button>
</form>
{% endblock content %}