{% extends 'base.html' %}
{% load static %}

{% block title %}Пожертвование{% endblock title %}

{% block main %}
	<div class="container mt-3 mt-lg-4 mb-3 mb-lg-4">
		<div class="row row-cols-1 justify-content-center">
			<div class="col mb-4">
				<h3 class="mb-1">О сайте Constructor Telegram Bots</h3>
				<p>Constructor Telegram Bots - cайт, с помощью которого вы можете легко, бесплатно и без каких-либо знаний в программирование, сделать своего многофункционального Telegram бота.</p>
				<p>Сайт являеться не коммерческим и не преследует цель заработать на своих пользователях.</p>
				<p class="mb-0">Сайт был создан, потому-что к сожелению все похожие сайты являються коммерческими и преследуют цель заработать на своих пользователях, а бесплатный тариф на таких сайтах очень сильно ограничивает своих же пользователей сайта.</p>
			</div>
			<div class="col mb-4">
				<h3 class="mb-1">Зачем мне делать пожертвование сайту?</h3>
				<p class="mb-0">Ваше пожертвование очень сильно поможет развитию и улучшению сайта.</p>
			</div>
			<div class="col mb-4">
				<h3 class="mb-1">Где я могу задать вопросы по данной теме?</h3>
				<p class="mb-0">На все вас интересующие вопросы вам ответят по адресу helper.exg1o@gmail.com или вы можете написать основателю сайта в <a href="tg://resolve?domain=exg1o">Telegram</a>.</p>
			</div>
			<div class="col mb-4">
				<h3 class="mb-1">Спасибо за пожертвование сайту!</h3>
				<p>Спасибо огромное за пожертвование сайту, ваше пожертвование очень сильно поможет развитию и улучшению сайта!</p>
				<p>Платежи обрабатываются через PayPal, но могут быть сделаны либо с вашей банковской карты, либо с вашей существующей учетной записи PayPal. Если вы хотите использовать банковскую карту, на сайте PayPal нажмите на кнопку «Отправить пожертвование с помощью банковской карты», которая приведет вас к форме банковской карты. Учетная запись PayPal не требуется.</p>
				<p>В целях безопасности ваших персональных данных сайт не получит и не сохранит данные вашей банковской карты.</p>
				<p class="mb-0">После транзакции вы получите квитанцию от PayPal.</p>
			</div>
			<div class="col">
				<form action="https://www.paypal.com/donate" method="post" target="_blank">
					<input name="hosted_button_id" type="hidden" value="RBCS5HAMZS5Z6"/>
					<button class="btn btn-primary w-100" name="submit">
						<i class="bi bi-paypal me-1"></i>
						Сделать пожертвование
					</button>
				</form>
			</div>
		</div>		
	</div>
{% endblock main %}