{% extends 'telegram_bot_menu/base.html' %}
{% load i18n %}
{% load render_bundle from webpack_loader %}

{% block title %}{% trans 'Список переменных' %}{% endblock title %}

{% block styles %}
{% render_bundle 'main' 'css' 'TELEGRAM_BOT_MENU:VARIABLES' %}
{% endblock styles %}

{% block content %}
<div class="border rounded p-2">
	<table class="table table-sm table-borderless align-middle mb-0">
		<tbody>
			{% trans 'ID пользователя' as user_id_header %}
			{% include 'telegram_bot_menu/variables/table_cell.html' with header=user_id_header data='{{ user_id }}' %}

			{% trans 'Имя пользователя' as user_first_name_header %}
			{% include 'telegram_bot_menu/variables/table_cell.html' with header=user_first_name_header data='{{ user_first_name }}' %}

			{% trans 'Фамилия пользователя' as user_last_name_header %}
			{% include 'telegram_bot_menu/variables/table_cell.html' with header=user_last_name_header data='{{ user_last_name }}' %}

			{% trans '@username пользователя' as user_username_header %}
			{% include 'telegram_bot_menu/variables/table_cell.html' with header=user_username_header data='{{ user_username }}' %}

			{% trans 'ID сообщения пользователя' as user_message_id_header %}
			{% include 'telegram_bot_menu/variables/table_cell.html' with header=user_message_id_header data='{{ user_message_id }}' %}

			{% trans 'Текст сообщения пользователя' as user_message_text_header %}
			{% include 'telegram_bot_menu/variables/table_cell.html' with header=user_message_text_header data='{{ user_message_text }}' %}

			{% trans 'Данные из базы данных' as database_records_header %}
			{% include 'telegram_bot_menu/variables/table_cell.html' with header=database_records_header data='{{ database_records }}' %}

			{% trans 'Ответ с API-запроса' as api_response_header %}
			{% include 'telegram_bot_menu/variables/table_cell.html' with header=api_response_header data='{{ api_response }}' %}
		</tbody>
	</table>
</div>
{% endblock content %}

{% block scripts_data %}
{{ block.super }}
const successMessageTextForClipboard = "{% trans 'Вы успешно скопировали переменную в буфер обмена.' %}";
const errorMessageTextForClipboard = "{% trans 'При попытки скопировать переменную в буфер обмена, непредвиденная ошибка!' %}";
{% endblock scripts_data %}

{% block scripts %}
{% render_bundle 'main' 'js' 'TELEGRAM_BOT_MENU:VARIABLES' %}
{% endblock scripts %}