{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block styles %}
	{{ block.super }}
	<link rel="stylesheet" href="{% static 'css/team/base.css' %}">
{% endblock styles %}

{% block main %}
	<div class="container text-center my-3 my-lg-4">
		<h1 class="fw-bold mb-3">{% trans "Команда" %}</h1>
		<div class="row row-cols-1 row-cols-lg-4 justify-content-center g-5">
			{% for team_member in team_members %}
				<div class="col">
					<div class="row row-cols-1 g-1">
						<div class="col">
							<img class="border team-member-image" src="/{{ team_member.image }}">
						</div>
						<div class="col">
							<h5 class="fw-bold mb-1">
								@<a class="link-dark" href="tg://resolve?domain={{ team_member.username }}">{{ team_member.username }}</a>
							</h5>
						</div>
						{% get_current_language as LANGUAGE_CODE %}
						{% if LANGUAGE_CODE == 'en' %}
							<div class="col">{{ team_member.speciality_en }}</div>
						{% elif LANGUAGE_CODE == 'uk' %}
							<div class="col">{{ team_member.speciality_uk }}</div>
						{% else %}
							<div class="col">{{ team_member.speciality_ru }}</div>
						{% endif %}
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock main %}