{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Команда" %}{% endblock title %}

{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'team/css/base.css' %}">
{% endblock styles %}

{% block main %}
<div class="container text-center my-3 my-lg-4">
	<div class="row row-cols-1 row-cols-lg-5 justify-content-center g-4">
		{% for team_member in team_members %}
			<div class="col d-flex flex-column align-items-center px-2">
				<img class="border team-member-image mb-1" src="/{{ team_member.image }}">
				<a class="h5 link-dark fw-semibold link-underline link-underline-opacity-0 mb-0" href="tg://resolve?domain={{ team_member.username }}">@{{ team_member.username }}</a>
				<span>{{ team_member.speciality }}</span>
			</div>
		{% endfor %}
	</div>
</div>
{% endblock main %}