/* ------------ Заголовок ------------ */
.bot-heading {
	overflow: hidden;
	text-overflow: ellipsis;

	text-align: center;
	font-weight: bold;
	letter-spacing: 1px
}

/* ------------ Контейнер для основых элементов ------------ */
.bot-constructor-form {
	left: 20px;
	right: 20px;
	position: absolute;
}

/* ------------ Контейнер для inputs ------------ */
.bot-data-constructor-inputs {
	position: absolute;
}

.bot-name-input-control,
.bot-token-input-control {
	margin-bottom: 8px;

	outline: 0;
	border: 0;
}

.bot-name-input-control {
	width: 100%;

	border-radius: 8px;
}

.bot-token-input-control {
	width: calc(100% - 40px);

	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}

.bot-token-button-control {
	width: 40px;

	margin-bottom: 8px;

	right: 0px;
	position: absolute;

	background: #FFFFFF;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 36px 24px;

	border: 0;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}

.bot-token-button-control#hideBotToken {
	background-image: url('../../../global/img/eyeOn.png');
}

.bot-token-button-control#showBotToken {
	background-image: url('../../../global/img/eyeOff.png');
}

/* Контейнер для buttons, которые находяться рядом с контейнером inputs */
.bot-data-constructor-buttons {
	position: absolute;
}

/* ------------ Для ограничений аккаунта ------------ */
.account-max#second {
	top: 258px;
}

/* ------------ Контейнер для команд бота ------------ */
.bot-commands-container {
	position: absolute;
}

.bot-commands-table {
	width: 100%;
	height: 252px;

	border-color: #FFFFFF;
	border-radius: 8px;
	border-style: solid;
	border-width: 2px;

	background-color: #1B1D23;
	overflow: auto;
}

.bot-command {
	width: 100%;
	height: 50px;

	padding: 8px;

	background-color: #595F76;
}

.bot-command#normal {
	border-bottom-color: #FFFFFF;
	border-bottom-style: solid;
	border-bottom-width: 2px;
}

.bot-command-name {
	margin: 0;

	overflow: hidden;
	text-overflow: ellipsis;

	font-weight: bold;
	letter-spacing: 0.8px;
}

/* ------------ Контейнер для логов ------------ */
.bot-logs-container {
	position: absolute;
}

.bot-logs-table {
	width: 100%;
	height: 135px;

	border-color: #FFFFFF;
	border-radius: 8px;
	border-style: solid;
	border-width: 2px;

	background-color: #1B1D23;
	overflow: auto;
}

.bot-log {
	width: 100%;

	padding: 5px;

	border-bottom-color: #FFFFFF;
	border-bottom-style: solid;
	border-bottom-width: 2px;

	background-color: #595F76;
}

.bot-log#last {
	border: 0;
}

.bot-log-data {
	margin: 0;

	word-break: break-all;
	font-weight: bold;
	text-align: left;
	font-size: 16px;
	letter-spacing: 0.8px;
}

/* ------------ Кнопки ------------ */
.start-bot-button-control,
.stop-bot-button-control,
.save-bot-settings-button-control,
.add-bot-command-button-control,
.delete-bot-command-button-control,
.clear-bot-logs-button-control {
	font-weight: bold;
	letter-spacing: 0.8px;

	border: 0;
	border-radius: 12px;

	transition: 0.4s;
}

.delete-bot-command-button-control {
	height: 32px;

	font-size: 20px;

	border: 0;
	border-radius: 8px;

	background-color: #4d5163;
}

.start-bot-button-control {
	background-color: #5CC639;
}

.stop-bot-button-control {
	background-color: #F04F53;
}

.start-bot-button-control,
.stop-bot-button-control,
.save-bot-settings-button-control,
.add-bot-command-button-control {
	width: 100%;
}

.save-bot-settings-button-control,
.add-bot-command-button-control,
.clear-bot-logs-button-control {
	background-color: #595F76;
}

.add-bot-command-button-control,
.clear-bot-logs-button-control {
	position: absolute;

	font-weight: bold;
	letter-spacing: 0.8px;

	border: 0;

	transition: 0.4s;
}

.start-bot-button-control,
.stop-bot-button-control,
.save-bot-settings-button-control {
	margin-bottom: 8px;
}

.add-bot-command-button-control {
	top: 262px;
}

.clear-bot-logs-button-control {
	left: 0;
}

.start-bot-button-control:hover,
.save-bot-settings-button-control:hover,
.add-bot-command-button-control:hover,
.delete-bot-command-button-control:hover,
.clear-bot-logs-button-control:hover {
	transition: 0.4s;
}

.start-bot-button-control:hover {
	background-color: #55B634;
}

.stop-bot-button-control:hover {
	background-color: #EE3C40;
}

.save-bot-settings-button-control:hover,
.add-bot-command-button-control:hover,
.clear-bot-logs-button-control:hover {
	background-color: #50566E;
}

.start-bot-button-control:active {
	background-color: #4EA530;
}

.stop-bot-button-control:active {
	background-color: #ED272D;
}

.save-bot-settings-button-control:active,
.add-bot-command-button-control:active,
.clear-bot-logs-button-control:active {
	background-color: #434965;
}

.delete-bot-command-button-control:hover {
	background-color: #50566E;
}

.delete-bot-command-button-control:active {
	background-color: #434965;
}

/* ------------ Адаптация ------------ */
@media (min-width: 320px) and (max-width: 767px) {
	.container#other {
		width: 300px;
		height: 825px;

		margin: auto;

		top: 563px;
		left: 0;
		right: 0;
	}

	.bot-heading {
		height: 52px;

		margin-top: 10px;
		margin-bottom: 10px;
		margin-left: 10px;
		margin-right: 10px;

		line-height: 24px;
		font-size: 26px;
	}

	.bot-name-input-control,
	.bot-token-input-control {
		height: 38px;

		font-size: 22px;
	}

	.bot-token-button-control {
		height: 38px;
	}

	.bot-data-constructor-buttons {
		height: 106px;

		top: 94px;
		position: absolute;
	}

	.bot-logs-container {
		width: 100%;

		top: 212px;
	}

	.clear-bot-logs-button-control {
		width: 100%;

		top: 145px;
	}

	.bot-commands-container {
		width: 100%;

		top: 422px;
	}

	.start-bot-button-control,
	.stop-bot-button-control,
	.save-bot-settings-button-control,
	.add-bot-command-button-control,
	.clear-bot-logs-button-control {
		height: 45px;

		font-size: 20px;
	}
}

@media (min-width: 320px) {
	.bot-command {
		height: 92px;
	}

	.bot-command-name {
		text-align: center;
		font-size: 28px;
	}

	.delete-bot-command-button-control {
		width: 100%;

		margin-top: 7px;
	}
}

@media (min-width: 768px) and (max-width: 999px) {
	.container#other {
		width: 400px;
		height: 879px;

		margin: auto;

		top: 520px;
		left: 0;
		right: 0;
	}

	.bot-heading {
		height: 70px;

		margin-top: 14px;
		margin-bottom: 14px;
		margin-left: 20px;
		margin-right: 20px;

		line-height: 34px;
		font-size: 34px;
	}

	.bot-name-input-control,
	.bot-token-input-control {
		height: 42px;

		font-size: 24px;
	}

	.bot-token-button-control {
		height: 42px;
	}

	.bot-data-constructor-buttons {
		height: 106px;

		top: 102px;
	}

	.bot-logs-container {
		width: 100%;

		top: 230px;
	}

	.clear-bot-logs-button-control {
		width: 100%;

		top: 145px;
	}

	.bot-commands-container {
		width: 100%;

		top: 445px;
	}

	.start-bot-button-control,
	.stop-bot-button-control,
	.save-bot-settings-button-control,
	.add-bot-command-button-control,
	.clear-bot-logs-button-control {
		height: 50px;

		font-size: 22px;
	}
}

@media (min-width: 1000px) and (max-width: 1799px) {
	.container#other {
		width: 400px;
		height: 925px;

		margin: auto;

		top: 555px;
		left: 0;
		right: 0;
	}

	.bot-heading {
		height: 70px;

		margin-top: 14px;
		margin-bottom: 14px;
		margin-left: 20px;
		margin-right: 20px;

		line-height: 34px;
		font-size: 34px;
	}

	.bot-name-input-control,
	.bot-token-input-control {
		height: 45px;

		font-size: 24px;
	}

	.bot-token-button-control {
		height: 45px;
	}

	.bot-data-constructor-buttons {
		height: 106px;

		top: 108px;
	}

	.bot-commands-container {
		width: 100%;

		top: 481px;
	}

	.bot-logs-container {
		width: 100%;

		top: 256px;
	}

	.clear-bot-logs-button-control {
		width: 100%;

		top: 145px;
	}

	.start-bot-button-control,
	.stop-bot-button-control,
	.save-bot-settings-button-control,
	.add-bot-command-button-control,
	.clear-bot-logs-button-control {
		height: 60px;

		font-size: 24px;
	}
}

@media (min-width: 1800px) {
	.container {
		left: 120px;

		margin: 0;
	}

	.container#other {
		width: auto;
		height: 411px;

		top: 124px;
		left: 540px;
		right: 120px;
	}

	.bot-heading {
		width: calc(100% - 36px);
		height: 55px;

		margin-left: 18px;
		margin-right: 18px;
		margin-top: 4px;
		margin-bottom: 4px;

		white-space: nowrap;
		font-size: 46px;
	}

	.bot-data-constructor-inputs {
		left: 0;
		right: 800px;
	}

	.bot-name-input-control,
	.bot-token-input-control {
		height: 45px;

		font-size: 28px;
	}

	.bot-token-button-control {
		height: 45px;
	}

	.bot-data-constructor-buttons {
		width: 280px;
		height: 106px;

		right: 500px;
	}

	.bot-commands-container {
		top: 0;
		bottom: 20px;
		left: calc(100% - 480px);
		right: 0px;
	}

	.bot-logs-container {
		top: 118px;
		left: 0;
		right: 500px;
	}

	.clear-bot-logs-button-control {
		width: 100%;

		top: 145px;
	}

	.start-bot-button-control,
	.stop-bot-button-control,
	.save-bot-settings-button-control,
	.add-bot-command-button-control,
	.clear-bot-logs-button-control {
		font-size: 24px;
	}

	.start-bot-button-control,
	.stop-bot-button-control,
	.save-bot-settings-button-control {
		height: 45px;
	}

	.add-bot-command-button-control,
	.clear-bot-logs-button-control {
		height: 60px;
	}
}