{% extends 'base_telegram_bot_menu.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Конструктор" %}{% endblock title %}

{% block animation_styles %}{% endblock animation_styles %}

{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'telegram_bot_menu/css/telegram_bot_constructor/diagram.css' %}">
<link rel="stylesheet" href="{% static 'telegram_bot_menu/css/telegram_bot_constructor/custom_tinymce.css' %}">
{% endblock styles %}

{% block content %}
{% include 'telegram_bot_constructor/command_offcanvas.html' %}
{% include 'telegram_bot_constructor/diagram.html' %}
{% endblock content %}

{% block animation_scripts %}{% endblock animation_scripts %}

{% block scripts %}
{{ block.super }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/6.7.1/tinymce.min.js" integrity="sha512-gU3jUYol3xDf4bIwFdQNsfnjBphHHVWicFHCzXa91qvOENV+QhuL329AcZT2oFiXU0HAJSxdqyp3jXzlJmn65g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
	const telegramBotCommandsUrl = "{% url 'telegram_bot_commands' telegram_bot.id %}";
	const updateTelegramBotDiagramCurrentScaleUrl = "{% url 'update_telegram_bot_diagram_current_scale' telegram_bot.id %}";

	const telegramBotCommandOffcanvasAddCommandTitleText = "{% trans 'Добавление команды' %}";
	const telegramBotCommandOffcanvasEditCommandTitleText = "{% trans 'Редактирование команды' %}";

	const telegramBotCommandOffcanvasMessageTextPlaceholderText = "{% trans 'Введите текст сообщения' %}";

	const telegramBotCommandOffcanvasKeyboardButtonNameInputPlaceholderText = "{% trans 'Название кнопки' %}";
	const telegramBotCommandOffcanvasKeyboardButtonUrlInputPlaceholderText = "{% trans 'URL-адрес' %}";

	const deleteTelegramBotCommandAskConfirmModalTitle = "{% trans 'Удаление команды' %}";
	const deleteTelegramBotCommandAskConfirmModalText = "{% trans 'Вы точно хотите удалить команду Telegram бота?' %}";
</script>
<script src="{% static 'telegram_bot_menu/js/telegram_bot_constructor/diagram.js' %}"></script>
<script src="{% static 'telegram_bot_menu/js/telegram_bot_constructor/command_offcanvas.js' %}"></script>
{% endblock scripts %}