{% extends 'base_telegram_bot_menu.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Список пользователей" %}{% endblock title %}

{% block monaco_editor_styles %}{% endblock monaco_editor_styles %}

{% block content %}
<div class="card border">
	<h5 class="card-header border-bottom text-center">{% trans "Список пользователей Telegram бота" %}</h5>
	<div class="card-body">
		{% include 'object_tools.html' with id="telegramBotUsers" show_add_button=False %}
		<div class="collapse show" id="telegramBotUsersСollapse">
			<div class="list-group" id="telegramBotUsers"></div>
		</div>
	</div>
</div>
{% endblock content %}

{% block monaco_editor_scripts %}{% endblock monaco_editor_scripts %}

{% block scripts %}
{{ block.super }}
<script>
	const telegramBotUsersUrl = "{% url 'telegram_bot_users' telegram_bot.id %}";

	const telegramBotNotActivatedText = "{% trans 'Вашего Telegram бота ещё никто не активировал' %}";

	const deleteTelegramBotUserAskConfirmModalTitle = "{% trans 'Удаление пользователя Telegram бота' %}";
	const deleteTelegramBotUserAskConfirmModalText = "{% trans 'Вы точно хотите удалить пользователя Telegram бота?' %}";
</script>
<script src="{% static 'telegram_bot_menu/js/telegram_bot_users.js' %}"></script>
{% endblock scripts %}