{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block main_class %}{% endblock main_class %}

{% block main %}
<div class="container my-3 my-lg-4">
	<nav class="nav nav-pills nav-fill bg-light border rounded mb-3 mb-lg-4 p-2">
		{% url 'telegram_bot_menu:telegram_bot' telegram_bot.id as telegram_bot_menu_url %}
		<a class="nav-link link-dark {% if request.path == telegram_bot_menu_url %}active {% endif %}p-2" href="{{ telegram_bot_menu_url }}">{% trans "Telegram бот" %}</a>
		{% url 'telegram_bot_menu:telegram_bot_variables' telegram_bot.id as telegram_bot_variables_url %}
		<a class="nav-link link-dark {% if request.path == telegram_bot_variables_url %}active {% endif %}p-2" href="{{ telegram_bot_variables_url }}">{% trans "Список переменных" %}</a>
		{% url 'telegram_bot_menu:telegram_bot_users' telegram_bot.id as telegram_bot_users_url %}
		<a class="nav-link link-dark {% if request.path == telegram_bot_users_url %}active {% endif %}p-2" href="{{ telegram_bot_users_url }}">{% trans "Список пользователей" %}</a>
		{% url 'telegram_bot_menu:telegram_bot_database' telegram_bot.id as telegram_bot_database_url %}
		<a class="nav-link link-dark {% if request.path == telegram_bot_database_url %}active {% endif %}p-2" href="{{ telegram_bot_database_url }}">{% trans "База данных" %}</a>
		{% url 'telegram_bot_menu:telegram_bot_plugins' telegram_bot.id as telegram_bot_plugins_url %}
		<a class="nav-link link-dark {% if request.path == telegram_bot_plugins_url %}active {% endif %}p-2" href="{{ telegram_bot_plugins_url }}">{% trans "Плагины" %}</a>
		{% url 'telegram_bot_menu:telegram_bot_constructor' telegram_bot.id as telegram_bot_constructor_url %}
		<a class="nav-link link-dark {% if request.path == telegram_bot_constructor_url %}active {% endif %}p-2" href="{{ telegram_bot_constructor_url }}">{% trans "Конструктор" %}</a>
	</nav>
	{% block content %}{% endblock content %}
</div>
{% endblock main %}

{% block footer %}
{% with footer_extra_class="mt-auto" %}
	{{ block.super }}
{% endwith %}
{% endblock footer %}

{% block scripts_data %}
{{ block.super }}
const telegramBotId = {{ telegram_bot.id }};
var telegramBotIsRunning = '{{ telegram_bot.is_running }}' === 'True';
var diagramCurrentScale = parseFloat('{{ telegram_bot.diagram_current_scale }}'.replace(',', '.'));
{% endblock scripts_data %}