{% extends 'extended_base.html' %}
{% load i18n %}
{% load render_bundle from webpack_loader %}

{% block title %}{% trans 'Список пользователей' %}{% endblock title %}

{% block styles %}
{% render_bundle 'main' 'css' 'TELEGRAM_BOT_MENU:USERS' %}
{% endblock styles %}

{% block content %}
<div class="card border">
	<div class="card-body">
		{% with id='telegramBotUsers' %}
			{% include 'object_tools.html' with id=id show_add_button=False %}
			<div class="collapse mt-2 show" id="{{ id }}Сollapse">
				<div class="list-group" id="{{ id }}"></div>
			</div>
		{% endwith %}
	</div>
</div>
{% endblock content %}

{% block scripts_data %}
{{ block.super }}
const telegramBotIsPrivate = '{{ telegram_bot.is_private }}' === 'True';

const telegramBotNotActivatedText = "{% trans 'Вашего Telegram бота ещё никто не активировал' %}";

const askConfirmModalDeleteTelegramBotUserTitle = "{% trans 'Удаление пользователя' %}";
const askConfirmModalDeleteTelegramBotUserText = "{% trans 'Вы точно хотите удалить пользователя Telegram бота?' %}";
{% endblock scripts_data %}

{% block scripts %}
{% render_bundle 'main' 'js' 'TELEGRAM_BOT_MENU:USERS' %}
{% endblock scripts %}