.react-flow__handle {
	width: 12px;
	height: 12px;
	border-width: 1.5px;
}

.react-flow__handle-top {
	top: -6px;
}

.react-flow__handle-left {
	left: -6px;
}

.react-flow__handle-right {
	right: -6px;
}

.react-flow__handle-bottom {
	bottom: -6px;
}