/* ------------ Главные контейнеры ------------ */
.container {
	margin: auto;

	left: 0;
	right: 0;
	position: absolute;

	border-color: #FFFFFF;
	border-radius: 8px;
	border-style: solid;
	border-width: 2px;

	background-color: #2C313C;
}

/* ------------ Заголовок ------------ */
.heading {
	margin-top: 4px;
	margin-bottom: 4px;

	text-align: center;
	font-weight: bold;
	letter-spacing: 1px;
}

/* ------------ Контейнер для основых элементов ------------ */
.bots-container {
	bottom: 20px;
	left: 20px;
	right: 20px;
	position: absolute;
}

/* ------------ Контейнер для списка ботов ------------ */
.bots-list-container {
	border-color: #FFFFFF;
	border-radius: 8px;
	border-style: solid;
	border-width: 2px;

	background-color: #1B1D23;
	overflow: auto;
}

.bot {
	width: 100%;

	padding: 8px;

	background-color: #595F76;
}

.bot#normal {
	border-bottom-color: #FFFFFF;
	border-bottom-style: solid;
	border-bottom-width: 2px;
}

.bot-name {
	margin: 0;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	font-weight: bold;
	letter-spacing: 0.8px;
}

/* ------------ Для ограничений аккаунта ------------ */
.account-max {
	width: calc(100% + 8px);

	left: -4px;
	z-index: 2;
	position: absolute;
}

.max-bots {
	width: max-content;

	margin: 0px;
	padding-top: 1px;
	padding-left: 3px;
	padding-right: 3px;

	border-radius: 4px;
}

/* ------------ Кнопки ------------ */
.delete-bot-button-control {
	height: 32px;

	font-size: 20px;

	border-radius: 8px;
}

.upgrade-account-buttom-control {
	height: 100%;

	top: 0;
	right: 0;

	border-radius: 4px;
}

.add-bot-button-control {
	width: 100%;

	border-radius: 12px;
}

.upgrade-account-buttom-control,
.delete-bot-button-control,
.add-bot-button-control {
	position: absolute;

	font-weight: bold;
	letter-spacing: 0.8px;

	border: 0;

	transition: 0.4s;
}

.delete-bot-button-control,
.upgrade-account-buttom-control {
	background-color: #4d5163;
}

.add-bot-button-control {
	background-color: #595F76;
}

.delete-bot-button-control:hover,
.upgrade-account-buttom-control:hover,
.add-bot-button-control:hover {
	transition: 0.4s;
	background-color: #50566E;
}

.delete-bot-button-control:active,
.upgrade-account-buttom-control:active,
.add-bot-button-control:active {
	background-color: #434965;
}

/* ------------ Адаптация ------------ */
@media (min-width: 320px) and (max-width: 767px) {
	.container {
		width: 300px;
		height: 313px;
	}

	.heading {
		height: 40px;

		font-size: 34px;
	}

	.bots-container {
		top: 48px;
	}

	.bots-list-container {
		height: 186px;
	}

	.bot {
		height: 92px;
	}

	.bot-name {
		width: 236px;

		text-align: center;
		font-size: 28px;
	}

	.account-max#first {
		top: 192px;
	}

	.max-bots {
		font-size: 15px;
	}

	.delete-bot-button-control {
		width: 100%;

		margin-top: 7px;
		position: static;
	}

	.add-bot-button-control {
		height: 45px;

		top: 196px;

		font-size: 20px;
	}
}

@media (min-width: 768px) {
	.container {
		width: 400px;
		height: 401px;
	}

	.heading {
		height: 55px;

		font-size: 46px;
	}

	.bots-container {
		top: 63px;
	}

	.bots-list-container {
		height: 254px;
	}

	.bot {
		height: 50px;
	}

	.bot-name {
		width: 190px;

		position: absolute;

		font-size: 25px;
	}

	.account-max#first {
		top: 260px;
	}

	.max-bots {
		font-size: 18px;
	}

	.delete-bot-button-control {
		width: 150px;

		right: 8px;
	}

	.add-bot-button-control {
		height: 50px;

		top: 264px;

		font-size: 22px;
	}
}

@media (min-width: 1000px) {
	.container {
		height: 411px;
	}

	.add-bot-button-control {
		height: 60px;

		top: 264px;

		font-size: 24px;
	}
}