#diagram {
	width: 100%;
	height: 77vh;

	overflow: auto;
	position: relative;
}

#diagramSvg {
	width: 10000px;
	height: 10000px;

	top: 0;
	left: 0;

	z-index: 2;

	position: absolute;
	pointer-events: none;
}

#arrow {
	fill: var(--bs-secondary);
}

.btn-group.diagram-zoom {
	height: 31px;
}

#diagramZoomPercent {
	width: 60px;
	font-size: 14px;
	cursor: default;
}

.diagram-block {
	width: 300px;

	position: absolute;
	cursor: move;
}

.btn-diagram {
	height: 42px;

	padding: 0;
	padding-left: 7px;
	padding-right: 7px;

	position: absolute;
}

.btn-diagram-edit {
	left: -39px;
}

.btn-diagram-delete {
	right: -39px;
}

.diagram-block-keyboard-button {
	position: absolute;
}

.diagram-block-connector {
	width: 12px;
	height: 12px;

	cursor: pointer;
	position: absolute;

	background-color: var(--bs-secondary);
	border-radius: 50%;
}

.diagram-block-connector-left {
	left: -6px;
	top: calc(50% - 6px);
}

.diagram-block-connector-right {
	right: -6px;
	top: calc(50% - 6px);
}

.diagram-block-connector-top {
	left: calc(50% - 6px);
	top: -6px;
}

.diagram-block-connector-highlight {
	background-color: var(--bs-danger);
}

.diagram-block-connector-line {
	stroke: var(--bs-secondary);
	stroke-width: 2px;
}