{% load static %}
{% load i18n %}
{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html class="h-100" lang="{{ LANGUAGE_CODE }}">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>{% block title %}{% endblock title %} - Constructor Telegram Bots</title>
		<meta name="robots" content="index, follow">
		<meta name="description" content="{% trans 'Сайт, с помощью которого вы можете легко, бесплатно и без каких-либо знаний в программирование, сделать своего многофункционального Telegram бота.' %}">
		<meta name="keywords" content="бесплатный, free, конструктор, constructor, telegram, телеграм, bot, бот, bots, ботов">

		<meta name="google-site-verification" content="YbS9xa_kQpSf_XVG7tmdkCnX-av6lvsIm9m0E5SGTds">

		{% block meta %}{% endblock meta %}

		<link rel="icon" href="{% static 'favicon.png' %}">

		{% block styles %}
		{% render_bundle 'main' 'css' 'DEFAULT' %}
		{% endblock styles %}
	</head>

	<body class="vstack h-100">
		{% block navbar %}
		{% include 'navbar.html' with extra_class=navbar_extra_class %}
		{% endblock navbar %}

		{% block modals %}
		{% if user.is_authenticated %}
			{% include 'modals/ask_confirm_modal.html' %}
		{% else %}
			{% include 'modals/login_via_telegram_modal.html' %}
		{% endif %}
		{% endblock modals %}

		<div class="toast-container vstack position-fixed bottom-0 end-0 gap-3 p-3" id="toastContainer"></div>

		<main class="{% block main_class %}my-auto{% endblock main_class %}">
			{% block main %}{% endblock main %}
		</main>

		{% block footer %}
		{% include 'footer.html' with extra_class=footer_extra_class %}
		{% endblock footer %}
	</body>

	<script>
		{% block scripts_data %}
		const userIsAuth = {{ user.is_authenticated|lower }};
		{% if user.is_authenticated %}
			const userApiToken = '{{ request.user.auth_token.key }}';

			const userLogoutUrl = "{% url 'user:logout' %}";

			const userLogoutAskConfirmModalTitle = "{% trans 'Выход из аккаунта' %}";
			const userLogoutAskConfirmModalText = "{% trans 'Вы точно хотите выйти из аккаунта?' %}";
		{% endif %}
		{% endblock scripts_data %}
	</script>

	<script src="{% url 'javascript-catalog' %}"></script>

	{% block scripts %}
	{% render_bundle 'main' 'js' 'DEFAULT' %}
	{% endblock scripts %}
</html>