{% load i18n %}
<!DOCTYPE html>
{% load static %}
<html lang="ru" class="h-100">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>{% block title %}{% endblock title %} - Constructor Telegram Bots</title>
		<meta name="robots" content="index, follow">
		<meta name="description" content="{% trans "Сайт, с помощью которого вы можете легко, бесплатно и без каких-либо знаний в программирование, сделать своего многофункционального Telegram бота." %}">
		<meta name="keywords" content="{% trans "бесплатный, конструктор, telegram, телеграм, bot, бот" %}">

		{% block meta %}{% endblock meta %}

		<link rel="icon" href="{% static 'icons/favicon.png' %}">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

		{% block styles %}{% endblock styles %}
	</head>
	<body class="d-flex flex-column h-100">
		{% include 'navbar.html' %}

		{% block modals %}
			{% if user.is_authenticated %}
				{% include 'modals/ask_confirm_modal.html' %}
			{% endif %}
		{% endblock modals %}

		<div class="container" id="mainAlertContainer"></div>

		<main class="{% block main_class %}my-auto{% endblock main_class %}">
			{% block main %}{% endblock main %}
		</main>

		<footer class="footer bg-dark {% block footer_class %}{% endblock footer_class %}">
			{% include 'footer.html' %}
		</footer>
	</body>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	
	
	<script>
		{% block globalVariables %}
			const userLogOutUrl = '{% url 'user_logout' %}';
		{% endblock globalVariables %}
	</script>

	{% block scripts %}
		<script src="{% static 'js/global/alert.js' %}"></script>
		{% if user.is_authenticated %}
			<script src="{% static 'js/global/logout.js' %}"></script>
			<script src="{% static 'js/global/modals/ask_confirm_modal.js' %}"></script>
		{% endif %}
	{% endblock scripts %}
</html>