<!DOCTYPE html>

{% load static %}
<html lang="ru" class="h-100">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<meta name="description" content="Сайт, с помощью которого вы можете легко и без каких-либо знаний в программирование, создать своего многофункционального Telegram ботов.">
		<meta name="keywords" content="Constructor Telegram, Constructor Telegram Bots, Constructor">

		<link rel="icon" href="{% static 'icons/favicon.ico' %}">
		<title>{% block title %} {% endblock title %}</title>
		
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
		{% block styles %} {% endblock styles %}
	</head>
	<body class="d-flex flex-column h-100">
		<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
			<div class="container">
				<a class="navbar-brand me-0" href="/">Constructor Telegram Bots</a>

				<button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false">
					<span class="navbar-toggler-icon"></span>
			 	</button>
				
				<div class="collapse navbar-collapse d-lg-flex" id="navbar">
					<ul class="navbar-nav mx-auto">
						<li class="nav-item">
							<a class="nav-link pt-0 pt-lg-2" href="/">Главная</a>
						</li>
						<li class="nav-item">
							<a class="nav-link pt-0 pt-lg-2" href="#">Тарифы</a>
						</li>
						<li class="nav-item">
							<a class="nav-link pt-0 pt-lg-2" href="#">Команда</a>
						</li>
						<li class="nav-item">
							<a class="nav-link pt-0 pt-lg-2" href="#">Блог</a>
						</li>
					</ul>
					<div class="d-lg-flex">
						<button class="btn btn-outline-light me-2">Авторизация</button>
						<button class="btn btn-outline-light">Регистрация</button>
					</div>
			  </div>
			</div>
		</nav>

		{% block body %} {% endblock body %}

		<main class="my-auto">
			{% block main %} {% endblock main %}
		</main>

		<footer class="footer bg-dark">
			<div class="container">
				<ul class="nav justify-content-center border-bottom mb-2">
					<li class="nav-item"><a href="https://t.me/pycoder39" class="nav-link link-light px-2">Telegram</a></li>
					<li class="nav-item"><a href="https://t.me/pycoder3" class="nav-link link-light px-2">Telegram Channel</a></li>
					<li class="nav-item"><a href="https://vk.com/id599251585" class="nav-link link-light px-2">VKontakte</a></li>
					<li class="nav-item"><a href="https://github.com/EXG1O" class="nav-link link-light px-2">GitHub</a></li>
					<li class="nav-item"><a href="https://github.com/EXG1O/Constructor-Telegram-Bots" class="nav-link link-light px-2">GitHub Project</a></li>
				</ul>
				<p class="text-light text-center mb-2">&copy; 2023 Exg1o</p>
			</div>
		</footer>
	</body>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
	{% block scripts %} {% endblock scripts %}
</html>