<div class="container">
	<div class="row justify-content-center text-center py-2">
		<div class="col-4 col-lg-2">
			<div class="row row-cols-1">
				<div class="col">
					<h5 class="text-light mb-0">Проект</h5>
				</div>
				<div class="col">
					<a class="text-decoration-none text-secondary" href="https://github.com/EXG1O/Constructor-Telegram-Bots" target="_blank">GitHub</a>
				</div>
			</div>
		</div>
		<div class="col-4 col-lg-3 px-0">
			<div class="row row-cols-1">
				<div class="col">
					<h5 class="text-light mb-0">Контакты Основателя</h5>
				</div>
				<div class="col">
					<p class="text-secondary text-break mb-0">helper.exg1o@gmail.com</p>
				</div>
				<div class="col">
					<a class="text-decoration-none text-secondary" href="tg://resolve?domain=exg1o">Telegram</a>
				</div>
				<div class="col">
					<a class="text-decoration-none text-secondary" href="https://github.com/EXG1O" target="_blank">GitHub</a>
				</div>
			</div>
		</div>
		<div class="col-4 col-lg-2">
			<div class="row row-cols-1">
				<div class="col">
					<h5 class="text-light mb-0">Другое</h5>
				</div>
				<div class="col">
					<a class="text-decoration-none text-secondary" href="tg://resolve?domain=pycoder3">Telegram Channel</a>
				</div>
				<div class="col">
					<a class="text-decoration-none text-secondary" href="{% url 'privacy_policy' %}">Privacy Policy</a>
				</div>
			</div>
		</div>
	</div>
	<div class="row justify-content-center">
		<hr class="col-12 col-lg-7 text-white-50 my-0">
	</div>
	<p class="text-light text-center my-2">&copy; 2023 exg1o</p>
</div>