<!DOCTYPE html>

{% load static %}
<html lang="ru" class="h-100">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<meta name="description" content="Сайт, с помощью которого вы можете легко и без каких-либо знаний в программирование, создать своего многофункционального Telegram ботов.">
		<meta name="keywords" content="telegram, bot, конструктор">

		{% block meta %} {% endblock meta %}

		<link rel="icon" href="{% static 'icons/favicon.ico' %}">
		<title>{% block title %} {% endblock title %}</title>
		
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

		{% block styles %} {% endblock styles %}
	</head>
	<body class="d-flex flex-column h-100">
		<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
			<div class="container">
				<a class="navbar-brand me-0" href="/">Constructor Telegram Bots</a>

				<button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false">
					<span class="navbar-toggler-icon"></span>
			 	</button>
				
				<div class="navbar-collapse collapse d-lg-flex" id="navbar">
					<ul class="navbar-nav ms-lg-3 me-auto">
						<li class="nav-item">
							<a class="nav-link {% if request.path == '/' %}active{% endif %} pt-0 pt-lg-2" href="/">Главная</a>
						</li>
						<li class="nav-item">
							<a class="nav-link {% if request.path == '/donation/' %}active{% endif %} pt-0 pt-lg-2" href="/donation/">Пожертвование</a>
						</li>
						<li class="nav-item">
							<a class="nav-link disabled pt-0 pt-lg-2" href="#">Блог</a>
						</li>
					</ul>
					<div class="d-lg-flex">
						<a class="btn btn-outline-light" href="{% if user.is_authenticated %}/personal-cabinet/{% else %}tg://resolve?domain=constructor_telegram_bots_bot&start=auth{% endif %}">Личный кабинет</a>
					</div>
			  </div>
			</div>
		</nav>

		{% block body %} {% endblock body %}

		<main class="{% block main_class %}my-auto{% endblock main_class %}">
			{% block main %} {% endblock main %}
		</main>

		<footer class="footer bg-dark {% block footer_class %}{% endblock footer_class %}">
			<div class="container">
				<div class="row justify-content-center border-bottom text-center py-2">
					<div class="col-12 col-lg-2">
						<div class="row row-cols-1">
							<div class="col">
								<h5 class="text-light mb-0">Проект</h5>
							</div>
							<div class="col">
								<a class="text-decoration-none text-secondary" href="https://github.com/EXG1O/Constructor-Telegram-Bots" target="_blank">GitHub</a>
							</div>
						</div>
					</div>
					<div class="col-12 col-lg-3 my-2">
						<div class="row row-cols-1">
							<div class="col">
								<h5 class="text-light mb-0">Контакты Основателя</h5>
							</div>
							<div class="col">
								<p class="text-secondary mb-0">helper.exg1o@gmail.com</p>
							</div>
							<div class="col">
								<a class="text-decoration-none text-secondary" href="tg://resolve?domain=exg1o">Telegram</a>
							</div>
							<div class="col">
								<a class="text-decoration-none text-secondary" href="https://github.com/EXG1O" target="_blank">GitHub</a>
							</div>
						</div>
					</div>
					<div class="col-12 col-lg-2">
						<div class="row row-cols-1">
							<div class="col">
								<h5 class="text-light mb-0">Другое</h5>
							</div>
							<div class="col">
								<a class="text-decoration-none text-secondary" href="tg://resolve?domain=pycoder3">Telegram Channel</a>
							</div>
							<div class="col">
								<a class="text-decoration-none text-secondary" href="/privacy-policy/">Privacy Policy</a>
							</div>
						</div>
					</div>
				</div>
				<p class="text-light text-center my-2">&copy; 2023 exg1o</p>
			</div>
		</footer>
	</body>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
	
	<script src="{% static 'js/global/main.js' %}"></script>
	<script src="{% static 'js/global/alert.js' %}"></script>

	{% block scripts %} {% endblock scripts %}
</html>