{% load i18n %}

<nav class="navbar navbar-expand-xxl navbar-dark bg-dark{% if extra_class %} {{ extra_class }}{% endif %}">
	<div class="container">
		<a class="navbar-brand" href="/">Constructor Telegram Bots</a>

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="navbar-collapse justify-content-between collapse" id="navbar">
			<div class="navbar-nav nav-underline gap-0">
				{% url 'home:index' as home_index_url %}
				<a class="nav-link {% if request.path == home_index_url %}active {% endif %}pb-1" href="{{ home_index_url }}">{% trans 'Главная' %}</a>

				{% url 'team:index' as team_index_url %}
				<a class="nav-link {% if request.path == team_index_url %}active {% endif %}pb-1" href="{{ team_index_url }}">{% trans 'Команда' %}</a>

				{% url 'updates' as updates_url %}
				<a class="nav-link {% if request.path == updates_url %}active {% endif %}pb-1" href="{{ updates_url }}">{% trans 'Обновления' %}</a>

				{% url 'instruction:index' as instruction_index_url %}
				<a class="nav-link {% if request.path == instruction_index_url %}active {% endif %}pb-1" href="{{ instruction_index_url }}">{% trans 'Инструкция' %}</a>

				{% url 'donation:index' as donation_index_url %}
				<a class="nav-link {% if request.path == donation_index_url %}active {% endif %}pb-1" href="{{ donation_index_url }}">{% trans 'Пожертвование' %}</a>
			</div>
			<hr class="d-xxl-none text-white-50 mt-0 mb-2">
			<div class="d-flex flex-wrap gap-2">
				<div class="dropdown flex-fill">
					<button class="btn btn-primary dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
						{% get_current_language as LANGUAGE_CODE %}
						<i class="bi bi-globe-americas me-1"></i>
						{{ LANGUAGE_CODE|upper }}
					</button>
					<ul class="dropdown-menu text-center py-1">
						<form id="language-form" method="post" action="{% url 'set_language' %}">
							{% csrf_token %}
							{% get_available_languages as LANGUAGES %}
							{% get_language_info_list for LANGUAGES as languages %}
							{% for language in languages %}
								<button class="dropdown-item" type="submit" name="language" value="{{ language.code }}">{% trans language.name %}</button>
							{% endfor %}
						</form>
					</ul>
				</div>
				{% if user.is_authenticated %}
					{% if user.is_staff %}
						<a class="btn btn-warning flex-fill" href="{% url 'admin:index' %}">{% trans 'Админ панель' %}</a>
					{% endif %}
					<a class="btn btn-light flex-fill" href="{% url 'personal_cabinet:index' %}">{% trans 'Личный кабинет' %}</a>
					<button class="btn btn-danger flex-fill" id="userLogoutButton" type="button">{% trans 'Выйти' %}</button>
				{% else %}
					<a class="btn btn-success flex-fill" id="loginViaTelegramModalButton" href="tg://resolve?domain={{ constructor_telegram_bot_username }}&start=login">
						<i class="bi bi-telegram me-1"></i>
						{% trans 'Войти через Telegram' %}
					</a>
				{% endif %}
			</div>
		</div>
	</div>
</nav>