{% load i18n %}
<nav class="navbar navbar-expand-lg bg-dark navbar-dark py-1 p-lg-0">
	<div class="container">
		<a class="navbar-brand p-2 me-0" href="/">Constructor Telegram Bots</a>

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false">
			<span class="navbar-toggler-icon"></span>
		 </button>

		<div class="navbar-collapse collapse" id="navbar">
			<ul class="navbar-nav nav-underline gap-0 me-auto">
				<li class="nav-item">
					{% url 'home' as home_url %}
					<a class="nav-link {% if request.path == home_url %}active{% endif %} p-2" href="{{ home_url }}">{% trans "Главная" %}</a>
				</li>
				<li class="nav-item">
					{% url 'donation' as donation_url %}
					<a class="nav-link {% if request.path == donation_url %}active{% endif %} p-2" href="{{ donation_url }}">{% trans "Пожертвование" %}</a>
				</li>
				<li class="nav-item">
					<a class="nav-link disabled p-2" href="#">{% trans "Обновления (В разработке...)" %}</a>
				</li>
			</ul>
			<hr class="d-lg-none text-white-50 mx-2 mt-0 mb-1">
			<div class="row m-0">
				<div class="col-auto p-0">
					<div class="dropdown mx-1 my-2">
						<button class="btn btn-primary dropdown-toggle" id="languages" type="button" data-bs-toggle="dropdown" aria-expanded="false">
							{% get_current_language as LANGUAGE_CODE %}
							<i class="bi bi-globe"></i> {{ LANGUAGE_CODE|upper }}
						</button>
						<ul class="dropdown-menu text-center py-1" id="languages">
							<form id="language-form" method="post" action="{% url 'set_language' %}">
								{% csrf_token %}
								{% get_available_languages as LANGUAGES %}
								{% get_language_info_list for LANGUAGES as languages %}
								{% for language in languages %}
									<li>
										<button class="dropdown-item" type="submit" name="language" value="{{ language.code }}">
											{{ language.name }}
										</button>
									</li>
								{% endfor %}
							</form>
						</ul>
					</div>
				</div>
				{% if user.is_authenticated %}
					<div class="col-auto p-0">
						<a class="btn btn-light mx-1 my-2" href="{% url 'personal_cabinet' %}">{% trans "Личный кабинет" %}</a>
					</div>
					<div class="col-auto p-0">
						<button class="btn btn-danger mx-1 my-2" id="logoutButton" type="button">{% trans "Выйти" %}</button>
					</div>
				{% else %}
					<div class="col-auto p-0">
						<a class="btn btn-success ps-1 mx-1 my-2" href="tg://resolve?domain={{ tg_bot_username }}&start=login">
							<i class="bi bi-telegram mx-2"></i>
							{% trans "Войти через Telegram" %}
						</a>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
</nav>