.container {
	width: 750px;
	height: 436px;

	margin: auto;

	top: 200px;
	left: 0;
	right: 0;
	position: absolute;

	border-color: #FFFFFF;
	border-radius: 8px;
	border-style: solid;
	border-width: 2px;

	background-color: #2C313C;
}

.heading{
	margin-top: 0px;
	margin-bottom: 6px;

	text-align: center;
	font-weight: bold;
	font-size: 100px;
	letter-spacing: 1px;
}

.registration-form{
	left: 75px;
	right: 75px;
	position: absolute;
}

.login-input-control,
.email-input-control,
.password-input-control,
.again-password-input-control {
	height: 45px;

	margin-top: 4px;
	margin-bottom: 4px;

	font-size: 28px;

	outline: 0;
	border: 0;
}

.login-input-control,
.email-input-control {
	width: 100%;

	border-radius: 8px;
}

.password-input-control,
.again-password-input-control {
	width: calc(100% - 40px);

	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}

.password-button-control {
	width: 40px;
	height: 45px;

	margin-top: 4px;
	margin-bottom: 4px;

	right: 0;
	position: absolute;

	background: #FFFFFF;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 36px 24px;

	border: 0;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}

.password-button-control#hidePassword,
.password-button-control#hideAgainPassword {
	background-image: url('../images/eyeOn.png');
}

.password-button-control#showPassword,
.password-button-control#showAgainPassword {
	background-image: url('../images/eyeOff.png');
}

.error-message{
	width: 100%;
	height: 25px;

	top: 338px;
	position: absolute;

	margin: 0;

	text-align: center;
	font-size: 18px;
	letter-spacing: 0.6px;

	color: #ff006a;
}

.buttons {
	height: 60px;

	top: 347px;
	left: 75px;
	right: 75px;
	position: absolute;
}

.have-account-button-control {
	top: 50%;
	left: 60px;
	transform: translate(0, -50%);
	position: absolute;

	font-size: 18px;
	letter-spacing: 0.4px;
}

.registration-button-control {
	width: 228px;
	height: 60px;

	right: 0;
	position: absolute;

	font-size: 24px;
	font-weight: bold;
	letter-spacing: 0.8px;

	border: 0;
	border-radius: 12px;

	transition: 0.4s;
	background-color: #595F76;
}

.registration-button-control:hover{
	transition: 0.4s;
	background-color: #50566E;
}

.registration-button-control:active{
	background-color: #434965;
}