{% extends 'base.html' %}
{% load i18n %}
{% load render_bundle from webpack_loader %}

{% block title %}{% trans 'Личный кабинет' %}{% endblock title %}

{% block styles %}
{% render_bundle 'main' 'css' 'PERSONAL_CABINET:INDEX' %}
{% endblock styles %}

{% block modals %}
{{ block.super }}
{% include 'personal_cabinet/index/modals/add_telegram_bot_modal.html' %}
{% endblock modals %}

{% block main_class %}{% endblock main_class %}

{% block main %}
<div class="container d-flex flex-column gap-3 gap-lg-4 my-3 my-lg-4">
	<div class="d-flex flex-wrap justify-content-between gap-2">
		<h1 class="flex-grow-1 flex-lg-grow-0 fw-semibold text-center mb-0">{% trans 'Добавленные Telegram боты' %}</h1>
		{% trans 'Добавить Telegram бота' as add_button_text %}
		{% include 'widgets/add_button.html' with extra_class='flex-grow-1 flex-lg-grow-0 align-self-center' id='addTelegramBotModalButton' text=add_button_text %}
	</div>
	<div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-3" id="telegramBots"></div>
</div>
{% endblock main %}

{% block footer %}
{% with footer_extra_class="mt-auto" %}
	{{ block.super }}
{% endwith %}
{% endblock footer %}

{% block scripts_data %}
{{ block.super }}
const telegramBotNotAddedYetText = "{% trans 'Вы ещё не добавили Telegram бота' %}";

{% include 'telegram_bot/frontend/components/telegram_bot_card/scripts_data.html' %}

const telegramBotCardFooterPersonalCabinetButtonText = "{% trans 'Меню Telegram бота' %}";
{% endblock scripts_data %}

{% block scripts %}
{% render_bundle 'main' 'js' 'PERSONAL_CABINET:INDEX' %}
{% endblock scripts %}