/* ------------ Главные контейнеры ------------ */
.container {
	margin: auto;

	left: 0;
	right: 0;
	position: absolute;

	border-color: #FFFFFF;
	border-radius: 8px;
	border-style: solid;
	border-width: 2px;

	background-color: #2C313C;
}

/* ------------ Заголовки ------------ */
.titles {
	text-align: center;
	letter-spacing: 0.8px;

	border-bottom-color: #FFFFFF;
	border-bottom-style: solid;
	border-bottom-width: 2px;
}

.site-user-title {
	left: 0;
	margin: 0;
	position: absolute;
}

.profile-info-title {
	margin: 0;

	position: absolute;
}

.site-user {
	top: 0;
	position: absolute;
}

/* ------------ Nickname пользователя ------------ */
.user-nickname {
	margin: 0;

	top: 50px;
	left: 10px;
	right: 10px;
	position: absolute;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	text-align: center;
	letter-spacing: 1px;
}

/* ------------ Icon'ка пользователя ------------ */
.user-icon {
	width: 192px;
	height: 192px;

	margin: auto;

	top: 130px;
	left: 0;
	right: 0;
	position: absolute;

	border-radius: 50%;
	border-color: #FFFFFF;
	border-style: solid;
	border-width: 3px;
}

/* ------------ Информация о аккаунте пользователя ------------ */
.profile-info {
	width: 546px;

	position: absolute;
}

.info {
	margin-top: 5px;
	margin-bottom: 0px;
	margin-left: 10px;
	margin-right: 10px;
}

/* ------------ Адаптация ------------ */
@media (min-width: 320px) and (max-width: 767px) {
	.container {
		width: 300px;

		top: 250px;
	}

	.titles {
		width: 296px;
		height: 46px;
	}

	.site-user-title {
		width: 296px;
		height: 30px;

		top: 5px;

		font-size: 28px;
	}

	.profile-info-title {
		width: 296px;
		height: 30px;

		top: 356px;
		left: 0;
		font-size: 22px;
	}

	.site-user {
		width: 296px;
		height: 350px;

		border-bottom-color: #FFFFFF;
		border-bottom-style: solid;
		border-bottom-width: 2px;
	}

	.user-nickname {
		width: 276px;
		height: 65px;

		font-size: 55px;
	}

	.profile-info {
		width: 296px;

		top: 390px;

		border-top-color: #FFFFFF;
		border-top-style: solid;
		border-top-width: 2px;
	}

	.info {
		width: 276px;
		height: 20px;

		font-size: 17px;
	}
}

@media (min-width: 768px) and (max-width: 999px) {
	.container {
		width: 700px;

		top: 100px;
	}

	.titles {
		width: 696px;
		height: 46px;
	}

	.site-user-title {
		width: 696px;
		height: 30px;

		top: 5px;

		font-size: 28px;
	}

	.profile-info-title {
		width: 696px;
		height: 30px;

		top: 356px;
		left: 0;
		font-size: 22px;
	}

	.site-user {
		width: 696px;
		height: 350px;

		border-bottom-color: #FFFFFF;
		border-bottom-style: solid;
		border-bottom-width: 2px;
	}

	.user-nickname {
		width: 676px;
		height: 65px;

		font-size: 55px;
	}

	.profile-info {
		width: 696px;

		top: 390px;

		border-top-color: #FFFFFF;
		border-top-style: solid;
		border-top-width: 2px;
	}

	.info {
		width: 676px;
		height: 30px;

		font-size: 24px;
	}
}

@media (min-width: 1000px) {
	.container {
		width: 900px;
		height: 350px;

		top: 125px;
	}

	.titles {
		width: 896px;
		height: 46px;
	}

	.site-user-title {
		width: 348px;
		height: 36px;

		top: 4px;

		font-size: 32px;
	}

	.profile-info-title {
		width: 546px;
		height: 36px;

		top: 4px;
		left: 350px;

		font-size: 32px;
	}

	.site-user {
		width: 350px;
		height: 346px;

		border-right-color: #FFFFFF;
		border-right-style: solid;
		border-right-width: 2px;
	}

	.user-nickname {
		width: 330px;
		height: 72px;

		font-size: 60px;
	}

	.profile-info {
		width: 546px;
		height: 300px;

		left: 350px;
	}

	.info {
		width: 530px;
		height: 36px;

		font-size: 26px;
	}
}