.upgrade-account-buttom-control {
	width: calc(100% - 20px);

	left: 10px;
	right: 10px;
	position: absolute;

	font-weight: bold;
	letter-spacing: 0.8px;

	border: 0;
	border-radius: 12px;

	transition: 0.4s;
	background-color: #595F76;
}

.upgrade-account-buttom-control:hover {
	transition: 0.4s;
	background-color: #50566E;
}

.upgrade-account-buttom-control:active {
	background-color: #434965;
}

@media (min-width: 320px) and (max-width: 767px) {
	.container {
		height: 527px;
	}

	.profile-info {
		height: 133px;
	}

	.upgrade-account-buttom-control {
		height: 45px;

		top: 76px;

		font-size: 20px;
	}
}

@media (min-width: 768px) and (max-width: 999px) {
	.container {
		height: 541px;
	}

	.profile-info {
		height: 147px;
	}

	.upgrade-account-buttom-control {
		height: 50px;

		top: 80px;

		font-size: 22px;
	}
}

@media (min-width: 1000px) {
	.upgrade-account-buttom-control {
		height: 60px;

		top: 120px;

		font-size: 24px;
	}
}