<div class="modal fade" id="addTelegramBotModal" tabindex="-1" aria-labelledby="addTelegramBotModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="addTelegramBotModalLabel">Добавление Telegram бота</h5>
				<button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div id="addTelegramBotModalAlertContainer"></div>
				<div class="row row-cols-1">
					<div class="col mb-2">
						<form class="form-floating">
							<input class="form-control" id="addTelegramBotApiTokenInput" type="text" placeholder="Введите API-токен Telegram бота">
							<label for="addTelegramBotApiTokenInput">Введите API-токен Telegram бота</label>
						</form>
					</div>
					<div class="col-auto">
						<div class="form-check form-switch form-check-reverse mb-0">
							<input class="form-check-input" id="addTelegramBotIsPrivateCheckBox" type="checkbox">
							<label class="form-check-label" for="addTelegramBotIsPrivateCheckBox">Сделать Telegram бота приватным: </label>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-success w-100" id="addTelegramBotButton" type="button">Добавить Telegram бота</button>
			</div>
		</div>
	</div>
</div>