{% extends 'main.html' %}
{% load static %}

{% block title %}Политики конфиденциальности{% endblock title %}

{% block main %}
<div class="container my-3">
	<div class="row row-cols-1 justify-content-center">
		<div class="col mb-4">
			<h3 class="mb-1">О сайте Constructor Telegram Bots</h3>
			<p>Constructor Telegram Bots - сайт, с помощью которого вы можете легко и без каких-либо знаний в программирование, создать своего многофункционального Telegram бота.</p>
			<p>Сайт являеться не коммерческим и не преследует цель заработать на своих пользователях.</p>
			<p>Сайт был создан, потому-что к сожелению все похожие сайты являються коммерческими и преследуют цель заработать на своих пользователях, а бесплатный тариф на таких сайтах очень ограничивает своих же пользователей сайта.</p>
			<p class="mb-0">Если вы хотите поддержать основателя сайта, то подробней об этом вы можете почитать <a href="/donation/">тут</a>.</p>
		</div>
		<div class="col">
			<h3 class="mb-1">Важно!!!</h3>
			<p class="mb-0">Внимательно изучите <a href="/privacy_policy/">политику конфиденциальности сайта</a>, перед тем, как пользоваться сайтом.</p>
		</div>
	</div>
</div>
{% endblock main %}