{% load i18n %}

const telegramBotCardHeaderIsRunningText = "{% trans 'Telegram бот включен' %}";
const telegramBotCardHeaderIsNotRunningText = "{% trans 'Telegram бот выключен' %}";

const telegramBotCardBodyTableLineApiTokenText = "{% trans 'API-токен' %}";
const telegramBotCardBodyTableLineIsPrivateText = "{% trans 'Приватный' %}";
const telegramBotCardBodyTableLineDateAddedText = "{% trans 'Добавлен' %}";

const telegramBotCardBodyTableLineApiTokenInputPlaceholderText = "{% trans 'Введите API-токен Telegram бота' %}";