{% extends 'base.html' %}

{% block title %}
	<title>Добавление команды</title>
{% endblock title %}

{% block styles %}
	{% load static %}
	<link rel="stylesheet" href="{% static 'konstruktor/add_command/add_command.css' %}">
	{% block commandStyles %} {% endblock commandStyles %}
{% endblock styles %}

{% block content %}
	<div class="container">
		<h1 class="heading">{% block heading %}ДОБАВЛЕНИЕ КОМАНДЫ{% endblock heading %}</h1>
		<div class="variables">
			<button class="user-name-variable-button-control" onclick="document.querySelector('.command-answer-input-control').value += '{user_name}';">Имя пользователя</button>
			<button class="user-surname-variable-control" onclick="document.querySelector('.command-answer-input-control').value += '{user_surname}';">Фамилия пользователя</button>
		</div>
		<div class="add-command-form">
			<input class="command-name-input-control" type="text" placeholder="Придуймайте название" value="{% block commandNameValue %}{% endblock commandNameValue %}"></input>
			<input class="command-input-control" type="text" placeholder="Придуймайте команду" value="{% block commandValue %}{% endblock commandValue %}"></input>
			<textarea class="command-answer-input-control" name="text" placeholder="Придуймайте ответ команде">{% block commandAnswerValue %}{% endblock commandAnswerValue %}</textarea>
		</div>
		<div class="buttons">
			{% block buttons %}
				<button class="add-command-button-control" onclick="addCommandButtonClick()">Добавить бота</button>
			{% endblock buttons %}
			<button class="back-button-control" onclick="window.location.href = '{% block backButtonLink %}../{% endblock backButtonLink %}';">Вернуться</button>
		</div>
	</div>
{% endblock content %}

{% block scripts %}
	<script src="{% static 'konstruktor/add_command/add_command.js' %}"></script>
	{% block commandScripts %} {% endblock commandScripts %}
{% endblock scripts %}