{% extends 'base.html' %}

{% block title %}
	<title>Конструктор</title>
{% endblock title %}

{% block styles %}
	{% load static %}
	<link rel="stylesheet" href="{% static 'konstruktor/konstruktor/konstruktor.css' %}">
{% endblock styles %}

{% block content %}
	<div class="container">
		<h1 class="heading">СПИСОК БОТОВ</h1>
		<div class="bots-list">
			{% if 'bot_1' in bots %}
				<button id="bot1" class="bot-button-control">
					<a href="">{{ bots.bot_1.bot_name }}</a>
					<!-- <button class="delete-bot-button-control">Удалить бота</button> -->
				</button>
			{% endif %}

			{% if 'bot_2' in bots %}
				<button id="bot2" class="bot-button-control">
					<a href="">{{ bots.bot_2.bot_name }}</a>
				</button>
			{% endif %}

			{% if 'bot_3' in bots %}
				<button id="bot3" class="bot-button-control">
					<a href="">{{ bots.bot_3.bot_name }}</a>
				</button>
			{% endif %}

			{% if 'bot_4' in bots %}
				<button id="bot4" class="bot-button-control">
					<a href="">{{ bots.bot_4.bot_name }}</a>
				</button>
			{% endif %}

			{% if 'bot_5' in bots %}
				<button id="bot5" class="bot-button-control">
					<a href="">{{ bots.bot_5.bot_name }}</a>
				</button>
			{% endif %}
		</div>
		<div class="buttons">
			<button class="add-bot-button-control" onclick="window.location.href = 'add_bot/';">Добавить бота</button>
		</div>
	</div>
{% endblock content %}

{% block scripts %}
	<script src="{% static 'konstruktor/konstruktor/konstruktor.js' %}"></script>
{% endblock scripts %}