{% extends 'base.html' %}

{% block title %}
	<title>Конструктор</title>
{% endblock title %}

{% block styles %}
	{% load static %}
	<link rel="stylesheet" href="{% static 'konstruktor/main_konstruktor/main_konstruktor.css' %}">
	{% block botStyles %} {% endblock botStyles %}
{% endblock styles %}

{% block content %}
	<div id="mainContainer" class="main-container">
		<h1 class="heading">СПИСОК БОТОВ</h1>
		<div class="bots-container">
			<div class="bots-list-container">
				{% for bot in bots %}
					<div id="{{ bot.bot_positsion }}" class="bot">
						<a class="bot-name" href="{% block viewBotLink %}view_bot{% endblock viewBotLink %}/{{ bot.bot_id }}/">{{ bot.bot_name }}</a>
						<button class="delete-bot-button-control" onclick="{{ bot.onclick }}">Удалить бота</button>
					</div>
				{% endfor %}
			</div>
			<button id="addBotButton" class="add-bot-button-control" onclick="window.location.href = '{% block addBotLink %}add_bot{% endblock addBotLink %}/';">Добавить бота</button>
		</div>
	</div>
	{% block botContainer %} {% endblock botContainer %}
{% endblock content %}

{% block scripts %}
	<script src="{% static 'konstruktor/main_konstruktor/main_konstruktor.js' %}"></script>
	{% block botScripts %} {% endblock botScripts %}
{% endblock scripts %}