{% extends 'main_konstruktor.html' %}

{% block viewBotLink %}../../view_bot{% endblock viewBotLink %}
{% block addBotLink %}../../add_bot{% endblock addBotLink %}

{% block botStyles %}
	{% load static %}
	<link rel="stylesheet" href="{% static 'konstruktor/view_bot_konstruktor/view_bot_konstruktor.css' %}">
{% endblock botStyles %}

{% block botContainer %}
	<div class="bot-container">
		<h1 class="bot-heading">КОНСТРУКТОР БОТА {{ bot.bot_name }}</h1>
		<div class="bot-konstruktor-form">
			<div class="bot-data-konstruktor-inputs">
				<input id="inputBotName" class="bot-name-input-control" type="text" placeholder="Придуймайте имя боту" value="{{ bot.bot_name }}"></input>
				<input id="inputBotToken" class="bot-token-input-control" type="password" placeholder="Введите Token бота" value="{{ bot.bot_token }}"></input>
				<button id="hideBotToken" class="bot-token-button-control" onclick="hideOrShowButtonClick()"></button>
			</div>
			<div class="bot-data-konstruktor-buttons">

				{% if bot.bot_online == False %}
					<button class="start-bot-button-control" onclick="startBotButtonClick()">Запустить бота</button>
				{% endif %}

				{% if bot.bot_online == True %}
					<button class="stop-bot-button-control" onclick="stopBotButtonClick()">Остоновить бота</button>
				{% endif %}

				<button class="save-bot-settings-button-control" onclick="saveBotSettingsButtonClick()">Сохранить настройки</button>
			</div>
			<div class="bot-commands-container">
				<div class="bot-commands-table">
					{% for bot_command in bot.bot_commands %}

						{% if 'bot_commands_positsion' not in bot_command %}
						<div class="bot-command">
						{% endif %}

						{% if 'bot_commands_positsion' in bot_command %}
						<div id="last" class="bot-command">
						{% endif %}

							<a class="bot-command-name" href="view_command/{{ bot_command.command_id }}/">{{ bot_command.command_name }}</a>
						</div>
					{% endfor %}
				</div>
				<button class="add-command-button-control" onclick="window.location.href = 'add_command/';">Добавить команду</button>
			</div>
			<div class="bot-log-container">
				<div class="bot-log-table">

				</div>
				<button class="clear-log-button-control" onclick="clearLogButtonClick()">Очистить логи</button>
			</div>
		</div>
	</div>
{% endblock botContainer %}

{% block botScripts %}
	<script src="{% static 'konstruktor/view_bot_konstruktor/view_bot_konstruktor.js' %}"></script>
{% endblock botScripts %}