{% extends 'base.html' %}

{% block title %}Политики конфиденциальности{% endblock title %}

{% block main %}
	<div class="container my-3 my-lg-4">
		<div class="row row-cols-1">
			<div class="col mb-4">
				<h3 class="mb-1">Политика конфиденциальности сайта</h3>
				<p class="mb-0">Пожалуйста, внимательно прочитайте и изучите данную <a href="{% url 'privacy_policy' %}">политику конфиденциальности</a> перед использованием сайта.</p>
			</div>
			<div class="col mb-4">
				<h3 class="mb-1">Согласие на сбор, хранение и использование персональных данных пользователя</h3>
				<p class="mb-0">Используя наш сайт, а именно после первой авторизации на сайте, вы даёте нам своё согласие на сбор, хранение и использование ваших персональных данных, как описано в данной <a href="{% url 'privacy_policy' %}">политике конфиденциальности</a>.</p>
			</div>
			<div class="col mb-4">
				<h3 class="mb-1">Сбор, хранение и использование персональных данных пользователя</h3>
				<p>
					Cайт собирает и хранит следующие персональные данные пользователя:<br>
					1. <b>Telegram ID пользователя</b> - является уникальным числовым идентификатором, присвоенным каждому пользователю в Telegram.<br>
					2. <b>API-токены Telegram ботов</b> - представляют собой уникальные ключи доступа, которые выдаются при создании Telegram бота.
				</p>
				<p class="mb-0">Эти данные используются исключительно для добавления и поддержки ваших Telegram ботов, которых вы добавляете через наш сайт. Мы не продаем, не сдаём в аренду и не передаём эти данные третьим лицам.</p>
			</div>
			<div class="col mb-4">
				<h3 class="mb-1">Безопасность персональных данных пользователя</h3>
				<p class="mb-0">Мы предпринимаем все необходимые меры для защиты ваших персональных данных, хранящихся на нашем сайте, а именно <b>защита от атак CSRF</b>, <b>защита от SQL-инъекций</b>, <b>защита от утечек информации</b>, <b>защита от переполнения буфера</b> и <b>защита от скрытых уязвимостей</b>. Мы также удаляем персональные данные пользователя, если они становятся ненужными.</p>
			</div>
			<div class="col mb-4">
				<h3 class="mb-1">Использование файлов cookie</h3>
				<p>
					Cайт использует следующие <b>файлы cookie</b>:<br>
					1. <b>csrftoken</b> - представляет собой защитную меру против атак подделки межсайтовых запросов.<br>
					2. <b>sessionid</b> - используется для отслеживания состояния сеанса пользователя на сайте.
				</p>
				<p class="mb-0"><b>Файлы cookie</b> используются для улучшения вашего опыта использования сайта и обеспечения его безопасности.</p>
			</div>
			<div class="col mb-4">
				<h3 class="mb-1">Доступ к персональным данным пользователя</h3>
				<p class="mb-0">Если вы хотите получить доступ к вашим персональным данным, хранящимся на нашем сайте, напишите нам по адресу <a href="mailto:helper.exg1o@gmail.com" target="_blank">helper.exg1o@gmail.com</a> или основателю сайта в <a href="tg://resolve?domain=exg1o">Telegram</a>.</p>
			</div>
			<div class="col">
				<h3 class="mb-1">Обратная связь</h3>
				<p class="mb-0">Если у вас возникли вопросы или проблемы, связанные с использованием нашего сайта или обработкой ваших персональных данных, пожалуйста, напишите нам по адресу <a href="mailto:helper.exg1o@gmail.com" target="_blank">helper.exg1o@gmail.com</a> или основателю сайта в <a href="tg://resolve?domain=exg1o">Telegram</a>.</p>
			</div>
		</div>
	</div>
{% endblock main %}