{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Политика конфиденциальности" %}{% endblock title %}

{% block main %}
<div class="container my-3 my-lg-4">
	<div class="row row-cols-1 gy-4">
		<div class="col">
			<h3 class="mb-1">{% trans "Политика конфиденциальности сайта" %}</h3>
			<p class="mb-0">{% trans "Пожалуйста, внимательно прочитайте и изучите данную" %} <a href="{% url 'privacy_policy' %}">{% trans "политику конфиденциальности" %}</a> {% trans "перед использованием сайта." %}</p>
		</div>
		<div class="col">
			<h3 class="mb-1">{% trans "Согласие на сбор, хранение и использование персональных данных пользователя" %}</h3>
			<p class="mb-0">{% trans "Используя наш сайт, а именно после первой авторизации на сайте, вы даёте нам своё согласие на сбор, хранение и использование ваших персональных данных, как описано в данной" %} <a href="{% url 'privacy_policy' %}">{% trans "политике конфиденциальности" %}</a>.</p>
		</div>
		<div class="col">
			<h3 class="mb-1">{% trans "Сбор, хранение и использование персональных данных пользователя" %}</h3>
			<p>
				{% trans "Cайт собирает и хранит следующие персональные данные пользователя" %}:<br>
				1. <b>{% trans "Telegram ID пользователя" %}</b> - {% trans "является уникальным числовым идентификатором, присвоенным каждому пользователю в Telegram." %}<br>
				2. <b>{% trans "API-токены Telegram ботов" %}</b> - {% trans "представляют собой уникальные ключи доступа, которые выдаются при создании Telegram бота." %}
			</p>
			<p class="mb-0">{% trans "Эти данные используются исключительно для добавления и поддержки ваших Telegram ботов, которых вы добавляете через наш сайт. Мы не продаем, не сдаём в аренду и не передаём эти данные третьим лицам." %}</p>
		</div>
		<div class="col">
			<h3 class="mb-1">{% trans "Безопасность персональных данных пользователя" %}</h3>
			<p class="mb-0">{% trans "Мы предпринимаем все необходимые меры для защиты ваших персональных данных, хранящихся на нашем сайте, а именно" %} <b>{% trans "защита от атак CSRF" %}</b>, <b>{% trans "защита от SQL-инъекций" %}</b>, <b>{% trans "защита от утечек информации" %}</b>, <b>{% trans "защита от переполнения буфера" %}</b> {% trans "и" %} <b>{% trans "защита от скрытых уязвимостей" %}</b>. {% trans "Мы также удаляем персональные данные пользователя, если они становятся ненужными." %}</p>
		</div>
		<div class="col">
			<h3 class="mb-1">{% trans "Использование файлов cookie" %}</h3>
			<p>
				{% trans "Cайт использует следующие" %} <b>{% trans "файлы cookie" %}</b>:<br>
				1. <b>csrftoken</b> - {% trans "представляет собой защитную меру против атак подделки межсайтовых запросов." %}<br>
				2. <b>sessionid</b> - {% trans "используется для отслеживания состояния сеанса пользователя на сайте." %}
			</p>
			<p class="mb-0"><b>{% trans "Файлы cookie" %}</b> {% trans "используются для улучшения вашего опыта использования сайта и обеспечения его безопасности." %}</p>
		</div>
		<div class="col">
			<h3 class="mb-1">{% trans "Доступ к персональным данным пользователя" %}</h3>
			<p class="mb-0">{% trans "Если вы хотите получить доступ к вашим персональным данным, хранящимся на нашем сайте, напишите нам по адресу" %} <a href="mailto:helper.exg1o@gmail.com" target="_blank">helper.exg1o@gmail.com</a> {% trans "или основателю сайта в" %} <a href="tg://resolve?domain=exg1o">Telegram</a>.</p>
		</div>
		<div class="col">
			<h3 class="mb-1">{% trans "Обратная связь" %}</h3>
			<p class="mb-0">{% trans "Если у вас возникли вопросы или проблемы, связанные с использованием нашего сайта или обработкой ваших персональных данных, пожалуйста, напишите нам по адресу" %} <a href="mailto:helper.exg1o@gmail.com" target="_blank">helper.exg1o@gmail.com</a> {% trans "или основателю сайта в" %} <a href="tg://resolve?domain=exg1o">Telegram</a>.</p>
		</div>
	</div>
</div>
{% endblock main %}