{% extends 'main.html' %}
{% load static %}

{% block title %}Политики конфиденциальности{% endblock title %}

{% block main_class %}my-3 my-xl-auto{% endblock main_class %}

{% block main %}
	<div class="container">
		<div class="row row-cols-1">
			<div class="col mb-4">
				<h4 class="mb-1">СБОР, ХРАНЕНИЕ И ИСПОЛЬЗОВАНИЕ ПЕРСОНАЛЬНЫХ ДАННЫХ ПОЛЬЗОВАТЕЛЯ</h4>
				<p class="mb-0">Cайт Constructor Telegram Bots собирает и хранит следующие персональные данные пользователя: Telegram ID пользователя и API-токены для Telegram ботов.Эти данные используются только для создания и поддержки ваших Telegram ботов, которых вы добавили через сайт Constructor Telegram Bots. Мы не продаем, не сдаём в аренду и не передаем эти данные третьим лицам без вашего согласия.</p>
			</div>
			<div class="col mb-4">
				<h4 class="mb-1">СОГЛАСИЕ НА СБОР, ХРАНЕНИЕ И ИСПОЛЬЗОВАНИЕ ПЕРСОНАЛЬНЫХ ДАННЫХ ПОЛЬЗОВАТЕЛЯ</h4>
				<p class="mb-0">Используя наш сайт Constructor Telegram Bots, вы даёте свое согласие на сбор, хранение и использование ваших персональных данных, как описано в этой политике конфиденциальности.</p>
			</div>
			<div class="col mb-4">
				<h4 class="mb-1">БЕЗОПАСНОСТЬ ПЕРСОНАЛЬНЫХ ДАННЫХ ПОЛЬЗОВАТЕЛЯ</h4>
				<p class="mb-0">Мы предпринимаем все необходимые меры для защиты ваших персональных данных, хранящихся на нашем сайте Constructor Telegram Bots. Мы также удаляем персональные данные пользователя, если они нам больше не нужны.</p>
			</div>
			<div class="col mb-4">
				<h4 class="mb-1">ДОСТУП К ПЕРСОНАЛЬНЫМ ДАННЫМ ПОЛЬЗОВАТЕЛЯ</h4>
				<p class="mb-0">Вы можете запросить доступ к своим персональным данным, которые мы храним на нашем сайте Constructor Telegram Bots.</p>
			</div>
			<div class="col mb-4">
				<h4 class="mb-1">ИСПОЛЬЗОВАНИЕ ФАЙЛОВ COOKIE</h4>
				<p class="mb-0">Наш сайт Constructor Telegram Bots использует файлы cookie для улучшения вашего опыта использования сайта Constructor Telegram Bots. Эти файлы cookie могут содержать информацию о вашем визите на сайт и о вашей активности на нём.</p>
			</div>
			<div class="col">
				<h4 class="mb-1">ОБРАТНАЯ СВЯЗЬ</h4>
				<p class="mb-0">Если у вас есть вопросы или проблемы, связанные с использованием нашего сайта Constructor Telegram Bots или обработкой ваших персональных данных на нашем сайте Constructor Telegram Bots, пожалуйста, свяжитесь с нами по адресу helper.exg1o@gmail.com.</p>
			</div>
		</div>
	</div>
{% endblock main %}