.default-keyboard-input,
.inline-keyboard-input,
.delete-keyboard-button {
	margin-bottom: 4px;
}

.default-keyboard-input,
.inline-keyboard-input {
	cursor: text;

	width: 90%;

	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.delete-keyboard-button {
	width: 10%;

	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}