{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Обновления" %}{% endblock title %}

{% block main %}
<div class="container my-3 my-lg-4">
	<div class="list-group">
		{% for update in updates %}
			<a class="list-group-item list-group-item-action px-4 py-3" href="{% url 'update' update.id %}">
				<div class="d-flex flex-column gap-1">
					<div>
						<i class="bi bi-calendar-event-fill me-1"></i>
						{{ update.added_date }}
					</div>
					<h3 class="mb-0">{{ update.version }}</h3>
				</div>
			</a>
		{% endfor %}
	</div>
</div>
{% endblock main %}