{% extends 'base.html' %}
{% load i18n %}
{% load render_bundle from webpack_loader %}

{% block title %}{% trans 'Команда' %}{% endblock title %}

{% block styles %}
{% render_bundle 'main' 'css' 'TEAM:INDEX' %}
{% endblock styles %}

{% block main %}
<div class="container text-center my-3 my-lg-4">
	<div class="row row-cols-1 row-cols-lg-5 justify-content-center g-3 g-lg-4">
		{% for team_member in team_members %}
			<div class="vstack align-items-center px-2">
				{% if team_member.image %}
					<img class="border team-member-image mb-1" src="{{ team_member.image.url }}">
				{% endif %}
				<a class="h5 fw-semibold link-dark link-underline-opacity-0 mb-0" href="tg://resolve?domain={{ team_member.username }}">@{{ team_member.username }}</a>
				<span>{{ team_member.speciality }}</span>
			</div>
		{% endfor %}
	</div>
</div>
{% endblock main %}