/* ------------ Главные контейнеры ------------ */
.container {
    width: 900px;
	height: 350px;

	top: 200px;
	left: 0;
	right: 0;
	margin: auto;
	position: absolute;

	border-color: #FFFFFF;
	border-radius: 8px;
	border-style: solid;
	border-width: 2px;

	background-color: #2C313C;
}

/* ------------ Заголовки ------------ */
.titles {
	width: 896px;
	height: 46px;

	text-align: center;
	letter-spacing: 0.8px;

	border-bottom-color: #FFFFFF;
	border-bottom-style: solid;
	border-bottom-width: 2px;
}

.site-user-title {
	width: 348px;
	height: 36px;

	top: 4px;
	left: 0;
	margin: 0;
	position: absolute;

	font-size: 32px;
}

.profile-info-title {
	width: 546px;
	height: 36px;

	margin: 0;

	top: 4px;
	left: 350px;
	position: absolute;

	font-size: 30px;
}

.site-user {
	width: 350px;
	height: 346px;

	top: 0;
	position: absolute;

	border-right-color: #FFFFFF;
	border-right-style: solid;
	border-right-width: 2px;
}

/* ------------ Nickname пользователя ------------ */
.user-nickname {
	width: 330px;
	height: 72px;

	margin: 0;

	top: 50px;
	left: 10px;
	right: 10px;
	position: absolute;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	text-align: center;
	font-size: 60px;
	letter-spacing: 1px;
}

/* ------------ Icon'ка пользователя ------------ */
.user-icon {
	width: 192px;
	height: 192px;

	margin: auto;

	top: 130px;
	left: 0;
	right: 0;
	position: absolute;

	border-radius: 50%;
	border-color: #FFFFFF;
	border-style: solid;
	border-width: 3px;
}

/* ------------ Информация о аккаунте пользователя ------------ */
.profile-info {
	width: 546px;
	height: 300px;

	left: 350px;
	position: absolute;
}

.info {
	width: 530px;
	height: 36px;

	margin-top: 5px;
	margin-bottom: 0px;
	margin-left: 10px;
	margin-right: 10px;

	font-size: 26px;
}