/* ------------ Главные контейнеры ------------ */
.container {
	margin: auto;

	left: 0;
	right: 0;
	position: absolute;

	border-color: #FFFFFF;
	border-radius: 8px;
	border-style: solid;
	border-width: 2px;

	background-color: #2C313C;
}

/* ------------ Заголовок ------------ */
.heading {
	margin-top: 4px;
	margin-bottom: 4px;

	text-align: center;
	font-weight: bold;
	letter-spacing: 1px;
}

/* ------------ Контейнер для основых элементов ------------ */
.add-bot-form {
	position: absolute;
}

/* ------------ Inputs ------------ */
.bot-name-input-control,
.bot-token-input-control {
	margin-top: 4px;
	margin-bottom: 4px;

	font-size: 28px;

	outline: 0;
	border: 0;
}

.bot-name-input-control {
	width: 100%;

	border-radius: 8px;
}

.bot-token-input-control {
	width: calc(100% - 40px);

	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}

.bot-token-button-control {
	width: 40px;

	margin-top: 4px;
	margin-bottom: 4px;

	right: 0px;
	position: absolute;

	background: #FFFFFF;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 36px 24px;

	border: 0;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}

.bot-token-button-control#hidePassword {
	background-image: url('../../images/eyeOn.png');
}

.bot-token-button-control#showPassword {
	background-image: url('../../images/eyeOff.png');
}

/* ------------ Кнопки ------------ */
.buttons {
	position: absolute;
}

.add-bot-button-control,
.back-button-control {
	width: 100%;

	margin-bottom: 8px;

	font-weight: bold;
	letter-spacing: 0.8px;

	border: 0;
	border-radius: 12px;

	transition: 0.4s;
	background-color: #595F76;
}

.add-bot-button-control:hover,
.back-button-control:hover {
	transition: 0.4s;
	background-color: #50566E;
}

.add-bot-button-control:active,
.back-button-control:active {
	background-color: #434965;
}

@media (min-width: 320px) and (max-width: 767px) {
	.container {
		width: 300px;
		height: 252px;

		top: 250px;
	}

	.heading {
		font-size: 28px;
	}

	.add-bot-form {
		left: 15px;
		right: 15px;
	}

	.bot-name-input-control,
	.bot-token-input-control {
		height: 38px;

		font-size: 22px;
	}

	.bot-token-button-control {
		height: 38px;
	}

	.buttons {
		top: 140px;
		left: 15px;
		right: 15px;
	}

	.add-bot-button-control,
	.back-button-control {
		height: 45px;

		font-size: 20px;
	}
}

@media (min-width: 768px) {
	.container {
		width: 620px;
	}

	.add-bot-form {
		left: 50px;
		right: 50px;
	}

	.buttons {
		left: 50px;
		right: 50px;
	}
}

@media (min-width: 768px) and (max-width: 999px) {
	.container {
		height: 318px;

		top: 150px;
	}

	.heading {
		font-size: 60px;
	}

	.bot-name-input-control,
	.bot-token-input-control {
		height: 42px;

		font-size: 24px;
	}

	.bot-token-button-control {
		height: 42px;
	}

	.buttons {
		top: 186px;
	}

	.add-bot-button-control,
	.back-button-control {
		height: 50px;

		font-size: 22px;
	}
}

@media (min-width: 1000px) {
	.container {
		height: 344px;

		top: 250px;
	}

	.heading {
		font-size: 60px;
	}

	.bot-name-input-control,
	.bot-token-input-control {
		height: 45px;

		font-size: 28px;
	}

	.bot-token-button-control {
		height: 45px;
	}

	.buttons {
		top: 192px;
	}

	.add-bot-button-control,
	.back-button-control {
		height: 60px;

		font-size: 24px;
	}
}