{% extends 'main.html' %}
{% load static %}

{% block title %}Личный кабинет{% endblock title %}

{% block main_class %}my-3 my-lg-5{% endblock main_class %}

{% block body %}
	<div class="modal fade" id="addTelegramBotModal" tabindex="-1" aria-labelledby="addTelegramBotModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="addTelegramBotModalLabel">Добавление Telegram бота</h5>
					<button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div id="addTelegramBotModalAlertPlaceholder"></div>
					<div class="row">
						<div class="col-12 mb-2">
							<form class="form-floating">
								<input class="form-control" id="addTelegramBotTokenInput" type="text" placeholder="Введите токен Telegram бота">
								<label for="addTelegramBotTokenInput">Введите токен Telegram бота</label>
							</form>
						</div>
						<div class="col-12">
							<div class="form-check form-switch mb-0">
								<table class="mb-0">
									<tbody>
										<td class="align-middle">
											<input class="form-check-input" id="addTelegramBotPrivateCheckBox" type="checkbox" value="ON" checked>
										</td>
										<td>
											<label class="form-check-label" for="addTelegramBotPrivateCheckBox">Telegram бот будет доступен другим пользователям.</label>
										</td>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-outline-success w-100" id="addTelegramBotButton" type="button">Добавить Telegram бота</button>
				</div>
			</div>
		</div>
	</div>
{% endblock body %}

{% block main %}
	<div class="container">
		<div id="mainAlertPlaceholder"></div>
		<div class="row justify-content-between">
			<div class="col-12 col-lg-auto">
				<h1 class="text-center fw-bold mb-lg-1">Добавленные Telegram боты</h1>
			</div>
			<div class="col-12 col-lg-auto">
				<button class="btn btn-lg btn-primary w-100 w-lg-auto" id="addTelegramBotModalButton" type="button">
					<i class="bi bi-plus-lg" style="font-size: 1.25rem;"></i>
					Добавить Telegram бота
				</button>
			</div>
		</div>
	</div>
	<div class="container mt-2 mt-lg-0">
		<div class="row row-cols-1 row-cols-lg-3" id="addedTelegramBots"></div>
	</div>
{% endblock main %}

{% block footer_class %}mt-auto{% endblock footer_class %}

{% block scripts %}
	<script src="{% static 'js/global/alert.js' %}"></script>
	<script src="{% static 'js/personal_cabinet/personal_cabinet/init.js' %}"></script>
	<script src="{% static 'js/personal_cabinet/personal_cabinet/main.js' %}"></script>
	<script src="{% static 'js/personal_cabinet/personal_cabinet/add_telegram_bot_modal.js' %}"></script>
{% endblock scripts %}