{% extends 'base.html' %}
{% load static %}

{% block title %}Личный кабинет{% endblock title %}

{% block main_class %}my-3 my-lg-5{% endblock main_class %}

{% block body %}
	<div class="modal fade" id="addTelegramBotModal" tabindex="-1" aria-labelledby="addTelegramBotModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="addTelegramBotModalLabel">Добавление Telegram бота</h5>
					<button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div id="alertPlaceholder"></div>
					<div class="row">
						<div class="col-12 mb-1">
							<label class="form-label mb-1" for="addTelegramBotTokenInput">Введите токен Telegram бота</label>
							<input class="form-control" id="addTelegramBotTokenInput" type="text">
						</div>
						<div class="col-12">
							<div class="form-check form-switch mb-0">
								<table class="mb-0">
									<tbody>
										<td class="align-middle">
											<input class="form-check-input" id="telegramBotPrivateCheckBox" type="checkbox" value="ON" checked>
										</td>
										<td>
											<label class="form-check-label" for="telegramBotPrivateCheckBox">Telegram бот будет доступен другим пользователям.</label>
										</td>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-outline-success w-100" id="addTelegramBotButton" type="button">Добавить Telegram бота</button>
				</div>
			</div>
		</div>
	</div>
{% endblock body %}

{% block main %}
	<div class="container">
		<div class="row justify-content-between">
			<div class="col-12 col-lg-auto">
				<h1 class="text-center fw-bold mb-lg-0">Добавленные Telegram боты</h1>
			</div>
			<div class="col-12 col-lg-auto">
				<button class="btn btn-lg btn-primary w-100 w-lg-auto" id="addTelegramBotModalButton" type="button">
					<svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
						<path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
					</svg>
					Добавить Telegram бота
				</button>
			</div>
		</div>
	</div>
	<div class="container mt-2 mt-lg-0">
		<div class="row row-cols-1 row-cols-lg-3" id="addedTelegramBots"></div>
	</div>
{% endblock main %}

{% block footer_class %}mt-auto{% endblock footer_class %}

{% block scripts %}
	<script src="{% static 'js/personal_cabinet/personal_cabinet.js' %}"></script>
{% endblock scripts %}