{% extends 'base.html' %}
{% load static %}

{% block title %}Меню Telegram бота{% endblock title %}

{% block main_class %}my-3 my-lg-5{% endblock main_class %}

{% block main %}
	<div class="container">
		<div id="alertPlaceholder"></div>
		<div class="row row-cols-1 row-cols-lg-2">
			<div class="col">
				<div class="card h-100">
					{% if telegram_bot.is_running %}
						<h5 class="card-header bg-success text-center text-light fw-bold">Бот включен</h5>
					{% else %}
						<h5 class="card-header bg-danger text-center text-light fw-bold">Бот выключен</h5>
					{% endif %}
					<div class="card-body">
						<table class="w-100 h-100"">
							<tbody>
								<tr>
									<td class="align-middle">
										<h5 class="card-title text-center mb-0">@<a class="link-dark text-decoration-none" href="tg://resolve?domain={{ telegram_bot.name }}">{{ telegram_bot.name }}</a></h5>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="card-footer">
						{% if telegram_bot.is_running %}
							<button class="btn btn-outline-danger w-100 mb-2" id="startOrStopTelegramBotButton">Выключить Telegram бота</button>
						{% else %}
							<button class="btn btn-outline-success w-100 mb-2" id="startOrStopTelegramBotButton">Включить Telegram бота</button>
						{% endif %}
						<button class="btn btn-outline-danger w-100" id="deleteTelegramBotButton">Удалить Telegram бота</button>
					</div>
				</div>
			</div>
			<div class="col mt-3 mt-lg-0">
				<table class="table mb-0">
					<thead>
						<tr>
							<h5 class="ms-1 mb-0">Информация о Telegram боте</h5>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th class="align-middle" scope="row">Имя:</th>
							<td class="text-break">@<a class="link-dark text-decoration-none" href="tg://resolve?domain={{ telegram_bot.name }}">{{ telegram_bot.name }}</a></td>
						</tr>
						<tr>
							<th class="align-middle" scope="row">Токен:</td>
							<td class="text-break" id="telegramBotToken">{{ telegram_bot.token }}</td>
						</tr>
						<tr>
							<th scope="row">Приватный:</th>
							<td>
								<div class="form-check form-switch mb-0">
									<input class="form-check-input" id="telegramBotPrivateCheckBox" type="checkbox" value="{% if telegram_bot.private %}ON{% else %}OFF{% endif %}" {% if telegram_bot.private %}checked{% endif %}>
								</div>
							</td>
						</tr>
						<tr>
							<th scope="row">Количество активаций:</th>
							<td class="align-middle">{{ telegram_bot.users_activated }}</td>
						</tr>
						<tr>
							<th scope="row">Количество команд:</th>
							<td class="align-middle">{{ telegram_bot.commands }}</td>
						</tr>
						<tr>
							<th scope="row">Дата добавление:</th>
							<td>{{ telegram_bot.date_added }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock main %}

{% block footer_class %}mt-auto{% endblock footer_class %}

{% block scripts %}
	<script>
		const telegramBotId = {{ telegram_bot.id }};
	</script>
	<script src="{% static 'js/personal_cabinet/telegram_bot_menu.js' %}"></script>
{% endblock scripts %}