*, *::before, *::after {
	box-sizing: border-box;

	font-family: Roboto, sans-serif;
	color: #FFFFFF;
}

body {
	position: relative;

	background-color: #1B1D23;
}

input,
textarea {
	color: #000000
}

.top-navbar {
	top: 0;
	left: 0;
	right: 0;
	z-index: 9;
	position: fixed;

	background-color: #2C313C;
}

/* ------------ Кнопки ------------ */
.banner-button-link-control,
.button-link-control {
	position: fixed;

	font-weight: bold;

	border: 0;
}

.banner-button-link-control {
	text-align: center;
	letter-spacing: 1px;

	background: none;
	text-decoration: none;
}

.button-link-control {
	height: 50px;

	font-size: 22px;
	letter-spacing: 0.8px;

	border-radius: 12px;

	transition: 0.4s;
	background-color: #595F76;
}

.button-link-control:hover {
	transition: 0.4s;
	background-color: #50566E;
}

.button-link-control:active {
	background-color: #434965;
}

/* ------------ Сообщение ------------ */
.message-container {
	width: 100%;

	left: 0;
	right: 0;
	z-index: 9;
	position: fixed;
}

.message {
	width: 100%;

	margin-top: 4px;
	margin-bottom: 4px;

	text-align: center;
	font-size: 20px;
}

/* ------------ Адаптация ------------ */
@media (min-width: 320px) and (max-width: 767px) {
	.top-navbar {
		height: 180px;
	}

	.banner-button-link-control {
		width: calc(100% - 30px);
		height: 66px;

		left: 15px;

		font-size: 55px;
	}

	.button-link-control {
		width: calc(100% - 30px);
		height: 40px;

		right: 15px;
	}

	.button-link-control#registrationButtonLink,
	.button-link-control#signOutButtonLink {
		top: 75px;
	}

	.button-link-control#authorizationButtonLink,
	.button-link-control#profileButtonLink {
		top: 125px;
	}

	.button-link-control#konstruktorButtonLink {
		top: 175px;
	}

	.message-container {
		height: 32px;

		top: 180px;
	}
}

@media (min-width: 768px) and (max-width: 999px) {
	.top-navbar {
		height: 80px;
	}

	.banner-button-link-control {
		width: 150px;
		height: 60px;

		top: 10px;
		left: 30px;

		font-size: 50px;
	}

	.button-link-control {
		width: 160px;
		height: 50px;

		top: 15px;
	}

	.button-link-control#registrationButtonLink,
	.button-link-control#signOutButtonLink {
		right: 20px;
	}

	.button-link-control#authorizationButtonLink,
	.button-link-control#profileButtonLink {
		right: 200px;
	}

	.button-link-control#konstruktorButtonLink {
		right: 380px;
	}

	.message-container {
		height: 30px;

		top: 80px;
	}
}

@media (min-width: 1000px) {
	.top-navbar {
		height: 80px;
	}

	.banner-button-link-control {
		width: 150px;
		height: 60px;

		top: 10px;
		left: 50px;

		font-size: 50px;
	}

	.button-link-control {
		width: 160px;
		height: 50px;

		top: 15px;
	}

	.button-link-control#registrationButtonLink,
	.button-link-control#signOutButtonLink {
		right: 40px;
	}

	.button-link-control#authorizationButtonLink,
	.button-link-control#profileButtonLink {
		right: 220px;
	}

	.button-link-control#konstruktorButtonLink {
		right: 400px;
	}

	.message-container {
		height: 32px;

		top: 80px;
	}
}