*, *::before, *::after {
	box-sizing: border-box;
}
body {
	background-color: #1B1D23;
}

.navbar {
	height: 80px;

	left: 0;
	right: 0;
	top: 0;
	margin: 0 auto;
	position: absolute;

	background-color: #2C313C;
}

.banner-button-link-control {
	width: 140px;
	height: 60px;

	margin-top: 9px;
	margin-bottom: 11px;

	left: 50px;
	position: absolute;

	text-align: center;
	font-family: monospace;
	font-weight: bold;
	font-size: 50px;

	border: 0;
	background: none;
	text-decoration: none;
	color: #FFFFFF;
}

.authorization-button-link-control,
.registration-button-link-control {
	width: 160px;
	height: 50px;

	margin-top: 15px;
	margin-bottom: 15px;

	position: absolute;

	font-size: 20px;
	font-weight: bold;

	border: 0;
	border-radius: 12px;

	background-color: #595F76;
	color: #FFFFFF;
}

.authorization-button-link-control {
	right: 230px;
}

.registration-button-link-control{
	right: 50px;
}

.authorization-button-link-control:hover,
.registration-button-link-control:hover {
	transition: 0.4s;
	background-color: #50566E;
}
.authorization-button-link-control:active, 
.registration-button-link-control:active {
	background-color: #434965;
}