*, *::before, *::after {
	box-sizing: border-box;

	font-family: monospace;
	color: #FFFFFF;
}

body {
	background-color: #1B1D23;
}

input {
	color: #000000
}

.top-navbar {
	height: 80px;

	left: 0;
	right: 0;
	top: 0;
	position: fixed;

	background-color: #2C313C;
}

.banner-button-link-control {
	width: 140px;
	height: 60px;

	margin-top: 9px;
	margin-bottom: 11px;

	left: 50px;
	position: fixed;

	text-align: center;
	font-weight: bold;
	font-size: 50px;

	border: 0;
	background: none;
	text-decoration: none;
}

*.button-link-control {
	width: 160px;
	height: 50px;

	margin-top: 15px;
	margin-bottom: 15px;

	position: fixed;

	font-size: 20px;
	font-weight: bold;
	letter-spacing: 1px;

	border: 0;
	border-radius: 12px;

	background-color: #595F76;
}

.button-link-control#registrationButtonLink,
.button-link-control#signOutButtonLink {
	right: 50px;
}

.button-link-control#authorizationButtonLink,
.button-link-control#profileButtonLink {
	right: 230px;
}

*.button-link-control:hover {
	transition: 0.4s;
	background-color: #50566E;
}
*.button-link-control:active {
	background-color: #434965;
}