<!DOCTYPE html>

{% load static %}
<html lang="ru">
	<head>
		<meta charset="UTF-8">
		{% block title %} {% endblock title %}
		<link rel="stylesheet" href="{% static 'global/base.css' %}">
		{% block styles %} {% endblock styles %}
		</head>
	<body>
		{% block navbar %}
		<nav class="top-navbar">
			<a id="bannerButtonLink" class="banner-button-link-control" href="/">Exg1o</a>
			<button id="{{ button_1.id }}" class="button-link-control" onclick="{{ button_1.onclick }}">{{ button_1.text }}</a>
			<button id="{{ button_2.id }}" class="button-link-control" onclick="{{ button_2.onclick }}">{{ button_2.text}}</a>
		</nav>
		{% endblock navbar %}
		{% block content %} {% endblock content %}
	</body>
	<script src="{% static 'global/base.js' %}"></script>
	{% block scripts %} {% endblock scripts %}
</html>