#telegramBotMenuNavbar .nav-link {
	transition: color .15s ease-in-out, background-color .15s ease-in-out;
}

#telegramBotMenuNavbar .nav-link.active,
#telegramBotMenuNavbar .nav-link:hover {
	color: var(--bs-light)!important;
    background-color: var(--bs-dark);
}