{% extends 'base.html' %}

{% block title %}
	<title>Улучшение аккаунта</title>
{% endblock title %}

{% block styles %}
	{% load static %}
	<link rel="stylesheet" href="{% static 'account/upgrade_account/upgrade_account.css' %}">
{% endblock styles %}

{% block content %}
	<div class="container">
		<h1 class="heading">ПОКУПКА ПЛАТНОГО АККАНУТА</h1>
		<p class="paid-account-info">Преимущества платного аккаунта:</p>
		<ol class="paid-account-info" id="ol">
			<li>Добавлять до 5 ботов;</li>
			<li>Добавлять до ∞ команд вашему Telegram боту.</li>
		</ol>
		<p class="purchase-info">
			<b>Стоимость платного аккаунта: 1,50€.</b>
			<br>При отправлении 1,50€ на PayPal автора сайта, ваш аккаунт будет обновлён в течении дня.<br>
			Обратите особое внимание, на сумму, которую вы будете отправлять на PayPal автора сайта!<br>
			Если вы отправите меньше или больше 1,50€, то автор сайта отправит деньги обратно в течении дня, но возьмёт комиссию в виде 0,25€!<br>
			<b>При отправлении 1,50€ на PayPal автора сайта укажите в комментариях название вашего аккаунта!</b>
		</p>
		<p class="author-info">Связаться с автором сайта (Никитой Бороденко) можно через:</p>
		<ol class="author-info" id="ol">
			<li>Telegram: <a href="https://t.me/exg1o">https://t.me/exg1o</a></li>
			<li>VKontakte: <a href="https://vk.com/id599251585">https://vk.com/id599251585</a></li>
		</ol>
		<button class="buy-paid-account-buttom-control" onclick="window.location.href = 'https:/www.paypal.com/paypalme/borodenko2005';">Купить платный аккаунт</button>
	</div>
{% endblock content %}