{% extends 'base.html' %}

{% block title %}
	<title>Профиль</title>
{% endblock title %}

{% block styles %}
	{% load static %}
	<link rel="stylesheet" href="{% static 'account/view_profile.css' %}">
{% endblock styles %}

{% block content %}
	<div class="container">
		<div class="titles">
			<div class="site-user">
				<h1 class="site-user-text">Пользователь сайта</h1>
			</div>
			<div class="profile-data">
				<h1 class="profile-data-text">О профиле пользователя</h1>
			</div>
		</div>
		<div class="user">
			<h1 class="user-nickname">{{ user.nickname }}</h1>
			<img class="user-icon" src="{% static 'images/user.png' %}">
		</div>
		<div class="profile-info">
			<h1 class="account-status">Тариф: {{ user.status }}</h1>
			<h1 class="account-reg">Регистрация: {{ user.reg }}</h1>
		</div>
	</div>
{% endblock content %}