{% extends 'base.html' %}

{% block title %}
	<title>Профиль</title>
{% endblock title %}

{% block styles %}
	{% load static %}
	{% if user.status == 'Бесплатный' %}
		<link rel="stylesheet" href="{% static 'account/view_profile/view_profile_for_free_account.css' %}">
	{% endif %}
	{% if user.status == 'Платный' %}
		<link rel="stylesheet" href="{% static 'account/view_profile/view_profile_for_paid_account.css' %}">
	{% endif %}
	<link rel="stylesheet" href="{% static 'account/view_profile/view_profile.css' %}">
{% endblock styles %}

{% block content %}
	<div class="container">
		<div class="titles">
			<h1 class="site-user-title">Пользователь сайта</h1>
			<h1 class="profile-info-title">О профиле пользователя</h1>
		</div>
		<div class="site-user">
			<h1 class="user-nickname">{{ user.name }}</h1>
			<label class="update-user-icon-buttom-control" for="updateUserIconInput" style="cursor: pointer;">
				<img class="update-user-icon" src="{% static 'images/edit.png' %}">
			</label>
			<input class="update-user-icon-input-control" id="updateUserIconInput" type="file" name="photo" accept=".jpg, .jpeg, .png" style="display: none;"></input>
			<img class="user-icon" src="/static/users_icons/{{ user.id }}.png">
		</div>
		<div class="profile-info">
			<h1 class="info">Тариф: {{ user.status }}</h1>
			<h1 class="info">Регистрация: {{ user.date_joined }}</h1>
			{% if user.status == 'Бесплатный' %}
				<button class="upgrade-account-buttom-control" onclick="window.location.href = '/account/{{ user.name }}/upgrade/';">Улучшить аккаунт</button>
			{% endif %}
		</div>
	</div>
{% endblock content %}

{% block scripts %}
	<script src="{% static 'account/view_profile/view_profile.js' %}"></script>
{% endblock scripts %}