{% load i18n %}

<div class="diagram-container border rounded">
	<div class="diagram-zoom btn-group">
		<button class="diagram-zoom-btn btn btn-light border border-top-0 rounded-bottom-0" id="+" type="button">
			<i class="bi bi-zoom-in"></i>
		</button>
		<button class="diagram-zoom-btn btn btn-light border border-top-0 rounded-top-0" id="-" type="button">
			<i class="bi bi-zoom-out"></i>
		</button>
	</div>
	<svg class="diagram-svg">
		<defs>
			<marker id="arrow" markerWidth="10" markerHeight="10" refX="8" refY="3" orient="auto">
				<path d="M0,0 L0,6 L9,3 z">
			</marker>
		</defs>
	</svg>
</div>