{% extends 'base_personal_cabinet.html' %}
{% load static %}

{% block title %}Меню Telegram бота{% endblock title %}

{% block modals %}
	{{ block.super }}
	{% include 'telegram_bot_menu/modals/add_or_edit_telegram_bot_command_modal.html' %}
{% endblock modals %}

{% block main_class %}{% endblock main_class %}

{% block main %}
	<div class="container my-3 my-lg-4">
		<div class="row">
			<div class="col-12 pb-3">
				<div class="card">
					<h5 class="card-header bg-{% if telegram_bot.is_running %}success{% else %}danger{% endif %} text-light fw-bold text-center">Telegram бот в{% if telegram_bot.is_running is False %}ы{% endif %}ключен</h5>
					<div class="card-body p-2">
						<div class="row justify-content-center">
							<div class="col-12 col-lg-6">
								<table class="table table-sm table-borderless mb-0">
									<tbody>
										<tr>
											<th class="align-middle" scope="row">Имя:</th>
											<td class="text-break">
												<a class="link-dark text-decoration-none" href="tg://resolve?domain={{ telegram_bot.name }}">@{{ telegram_bot.name }}</a>
											</td>
										</tr>
										<tr>
											<th class="align-middle" scope="row">API-токен:</td>
											<td class="text-break">{{ telegram_bot.api_token }}</td>
										</tr>
										<tr>
											<th scope="row">Приватный:</th>
											<td>
												<div class="form-check form-switch mb-0">
													<input class="form-check-input" id="telegramBotIsPrivateCheckBox" type="checkbox" {% if telegram_bot.is_private %}checked{% endif %}>
												</div>
											</td>
										</tr>
										<tr>
											<th scope="row">Количество активаций:</th>
											<td class="align-middle users-count"></td>
										</tr>
										<tr>
											<th scope="row">Количество команд:</th>
											<td class="align-middle commands-count"></td>
										</tr>
										<tr>
											<th scope="row">Дата добавление:</th>
											<td class="align-middle">{{ telegram_bot.date_added }}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="card-footer">
						<div class="row row-cols-1 row-cols-lg-3">
							<div class="col">
								<button class="btn btn-{% if telegram_bot.is_running %}danger{% else %}success{% endif %} w-100 my-lg-2 mt-1 mb-0" id="startOrStopTelegramBotButton" type="button">В{% if telegram_bot.is_running %}ы{% endif %}ключить Telegram бота</button>
							</div>
							<div class="col px-lg-1">
								<button class="btn btn-secondary w-100 my-2" id="addOrDuplicateTelegramBotModalButton" type="button">Дублировать Telegram бота</button>	
							</div>
							<div class="col">
								<button class="btn btn-danger w-100 my-lg-2 mt-0 mb-1" id="deleteTelegramBotButton" type="button">Удалить Telegram бота</button>	
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-lg-6 py-2 pb-lg-0">
				<div class="card h-100">
					<h5 class="card-header text-center">Список команд Telegram бота</h5>
					<div class="card-body">
						<div class="list-group telegram-bot-commands"></div>
					</div>
					<button class="card-footer btn btn-light" id="addTelegramBotCommandModalButton" type="button">Добавить команду</button>
				</div>
			</div>
			<div class="col-12 col-lg-6 pt-3 pt-lg-2">
				<div class="card h-100">
					<h5 class="card-header text-center">Список пользователей Telegram бота</h5>
					<div class="card-body">
						<div class="list-group telegram-bot-users"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock main %}

{% block footer_class %}mt-auto{% endblock footer_class %}

{% block scripts %}
	{{ block.super }}
	<script>
		const telegramBotId = {{ telegram_bot.id }};
		var telegramBotIsRunning = {% if telegram_bot.is_running %}true{% else %}false{% endif %};

		const editTelegramBotUrl = '{% url 'edit_telegram_bot' telegram_bot.id %}';

		const startTelegramBotUrl = '{% url 'start_telegram_bot' telegram_bot.id %}';
		const stopTelegramBotUrl = '{% url 'stop_telegram_bot' telegram_bot.id %}';
		const duplicateTelegramBotUrl = '{% url 'duplicate_telegram_bot' telegram_bot.id %}';
		const deleteTelegramBotUrl = '{% url 'delete_telegram_bot' telegram_bot.id %}';

		const getTelegramBotCommandsUrl = '{% url 'get_telegram_bot_commands' telegram_bot.id %}';
		const getTelegramBotUsersUrl = '{% url 'get_telegram_bot_users' telegram_bot.id %}';
	</script>
	<script src="{% static 'js/personal_cabinet/telegram_bot_menu/init.js' %}"></script>
	<script src="{% static 'js/personal_cabinet/telegram_bot_menu/main.js' %}"></script>
	<script src="{% static 'js/personal_cabinet/telegram_bot_menu/modals/add_or_edit_telegram_bot_command_modal.js' %}"></script>
{% endblock scripts %}