{% load i18n %}

<div class="card border">
	<h5 class="card-header border-0 bg-{% if not telegram_bot.is_running and telegram_bot.is_stopped %}danger{% else %}success{% endif %} text-light fw-bold text-center" id="telegramBotStatus">{% if not telegram_bot.is_running and telegram_bot.is_stopped %}{% trans "Telegram бот выключен" %}{% else %}{% trans "Telegram бот включен" %}{% endif %}</h5>
	<div class="card-body p-2">
		<div class="row justify-content-center">
			<div class="col-12 col-lg-6">
				<table class="table table-sm table-borderless mb-0">
					<tbody>
						<tr>
							<th class="align-middle" scope="row">@username:</th>
							<td class="text-break">
								<a class="link-dark text-decoration-none" id="telegramBotUsername"></a>
							</td>
						</tr>
						<tr>
							<th class="align-middle" scope="row">{% trans "API-токен" %}:</td>
							<td class="text-break" id="telegramBotApiToken"></td>
							<td class="align-middle">
								<i class="bi bi-pencil-square d-flex text-secondary" id="telegramBotApiTokenEditButton" type="button" style="font-size: 1.2rem; -webkit-text-stroke: 0.4px;"></i>
								<div class="d-flex">
									<i class="bi bi-check-lg d-flex text-success me-3 d-none" id="telegramBotApiTokenSaveButton" type="button" style="font-size: 1.2rem; -webkit-text-stroke: 1.4px;"></i>
									<i class="bi bi-x-lg d-flex text-danger d-none" id="telegramBotApiTokenCancelButton" type="button" style="font-size: 1.2rem; -webkit-text-stroke: 1.8px;"></i>
								</div>
							</td>
						</tr>
						<tr>
							<th scope="row">{% trans "Приватный" %}:</th>
							<td>
								<div class="form-check form-switch mb-0">
									<input class="form-check-input" id="telegramBotIsPrivateCheckBox" type="checkbox" {% if telegram_bot.is_private %}checked{% endif %}>
								</div>
							</td>
						</tr>
						<tr>
							<th scope="row">{% trans "Количество активаций" %}:</th>
							<td class="align-middle" id="telegramBotUsersCount"></td>
						</tr>
						<tr>
							<th scope="row">{% trans "Количество команд" %}:</th>
							<td class="align-middle" id="telegramBotCommandsCount"></td>
						</tr>
						<tr>
							<th scope="row">{% trans "Дата добавления" %}:</th>
							<td class="align-middle">{{ telegram_bot.date_added }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="card-footer border-top p-3">
		<div class="row row-cols-1 row-cols-lg-2 g-2 g-lg-3">
			<div class="col">
				<button class="btn btn-{% if not telegram_bot.is_running and telegram_bot.is_stopped %}success{% else %}danger{% endif %} w-100 " id="telegramBotStartOrStopButton" type="button">{% if not telegram_bot.is_running and telegram_bot.is_stopped %}{% trans "Включить Telegram бота" %}{% else %}{% trans "Выключить Telegram бота" %}{% endif %}</button>
			</div>
			<div class="col">
				<button class="btn btn-danger w-100" id="telegramBotDeleteButton" type="button">{% trans "Удалить Telegram бота" %}</button>	
			</div>
		</div>
	</div>
</div>