{% load i18n %}

<div class="card">
	<h5 class="card-header bg-{% if telegram_bot.is_running %}success{% else %}danger{% endif %} text-light fw-bold text-center" id="telegramBotStatus">{% if telegram_bot.is_running %}{% trans "Telegram бот включен" %}{% else %}{% trans "Telegram бот выключен" %}{% endif %}</h5>
	<div class="card-body p-2">
		<div class="row justify-content-center">
			<div class="col-12 col-lg-6">
				<table class="table table-sm table-borderless mb-0">
					<tbody>
						<tr>
							<th class="align-middle" scope="row">@username:</th>
							<td class="text-break">
								<a class="link-dark text-decoration-none" id="telegramBotUsername"></a>
							</td>
						</tr>
						<tr>
							<th class="align-middle" scope="row">{% trans "API-токен" %}:</td>
							<td class="text-break" id="telegramBotApiToken"></td>
							<td class="align-middle">
								<div class="row">
									<div class="col-12">
										<button class="btn text-secondary w-100 p-0" id="telegramBotApiTokenEditButton" type="button">
											<i class="bi bi-pencil-square" style="font-size: 1.2rem; -webkit-text-stroke: 0.4px;"></i>
										</button>
									</div>
									<div class="col-6 ps-1 pe-0">
										<button class="btn text-success w-100 p-0 d-none" id="telegramBotApiTokenSaveButton" type="button">
											<i class="bi bi-check-lg" style="font-size: 1.2rem; -webkit-text-stroke: 1.4px;"></i>
										</button>
									</div>
									<div class="col-6 ps-0">
										<button class="btn text-danger w-100 p-0 d-none" id="telegramBotApiTokenCancelButton" type="button">
											<i class="bi bi-x-lg" style="font-size: 1.2rem; -webkit-text-stroke: 1.8px;"></i>
										</button>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<th scope="row">{% trans "Приватный" %}:</th>
							<td>
								<div class="form-check form-switch mb-0">
									<input class="form-check-input" id="telegramBotIsPrivateCheckBox" type="checkbox" {% if telegram_bot.is_private %}checked{% endif %}>
								</div>
							</td>
						</tr>
						<tr>
							<th scope="row">{% trans "Количество активаций" %}:</th>
							<td class="align-middle telegram-bot-users-count"></td>
						</tr>
						<tr>
							<th scope="row">{% trans "Количество команд" %}:</th>
							<td class="align-middle telegram-bot-commands-count"></td>
						</tr>
						<tr>
							<th scope="row">{% trans "Дата добавления" %}:</th>
							<td class="align-middle">{{ telegram_bot.date_added }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="card-footer p-3">
		<div class="row row-cols-1 row-cols-lg-2 g-2 g-lg-3">
			<div class="col">
				<button class="btn btn-{% if telegram_bot.is_running %}danger{% else %}success{% endif %} w-100 " id="telegramBotStartOrStopButton" type="button">{% if telegram_bot.is_running %}{% trans "Выключить Telegram бота" %}{% else %}{% trans "Включить Telegram бота" %}{% endif %}</button>
			</div>
			<div class="col">
				<button class="btn btn-danger w-100" id="telegramBotDeleteButton" type="button">{% trans "Удалить Telegram бота" %}</button>	
			</div>
		</div>
	</div>
</div>