{% load i18n %}

<div class="card border rounded h-100">
	<h5 class="card-header border-bottom text-center" id="telegramBotCommandCardHeader">{% trans "Добавление команды" %}</h5>
	<div class="card-body">
		<div class="row row-cols-1 gy-2">
			<div class="col">
				<label class="mb-1" for="telegramBotCommandVariables">{% trans "Доступные переменные" %}</label>
				<div class="border rounded" id="telegramBotCommandVariables">
					<div class="row gy-1 py-1 px-3">
						<button class="btn btn-sm btn-dark" id="telegramBotCommandUserIdVariableButton" type="button">{% trans "ID пользователя" %}</button>
						<button class="btn btn-sm btn-dark" id="telegramBotCommandUserUsernameVariableButton" type="button">{% trans "@username пользователя" %}</button>
						<button class="btn btn-sm btn-dark" id="telegramBotCommandUserFirstNameVariableButton" type="button">{% trans "Имя пользователя" %}</button>
						<button class="btn btn-sm btn-dark" id="telegramBotCommandUserLastNameVariableButton" type="button">{% trans "Фамилия пользователя" %}</button>
						<button class="btn btn-sm btn-dark" id="telegramBotCommandUserMessageIdVariableButton" type="button">{% trans "ID сообщения пользователя" %}</button>
						<button class="btn btn-sm btn-dark" id="telegramBotCommandUserMessageTextVariableButton" type="button">{% trans "Текст сообщения пользователя" %}</button>
						<button class="btn btn-sm btn-dark" id="telegramBotCommandDatabaseRecordDataVariableButton" type="button">{% trans "Получить данные из базы данных" %}</button>
						<button class="btn btn-sm btn-dark d-none" id="telegramBotCommandApiResponseVariableButton" type="button">{% trans "Ответ с API-запроса" %}</button>
					</div>
				</div>
			</div>
			<div class="col">
				<input class="form-control" id="telegramBotCommandNameInput" type="text" placeholder="{% trans "Введите название команды" %}">
			</div>
			<div class="col d-none" id="telegramBotCommandCommandAddition">
				<input class="form-control" id="telegramBotCommandCommandInput" type="text" placeholder="{% trans "Введите команду" %}">
			</div>
			<div class="col d-none" id="telegramBotCommandImageAddition">
				<img class="img-thumbnail rounded mb-2 w-100 d-none" id="telegramBotCommandImagePreview">
				<input class="form-control" id="telegramBotCommandImageInput" type="file" accept="image/*">
			</div>
			<div class="col">
				<div class="border rounded p-2">
					<div id="telegramBotCommandMessageTextEditor">
						<div class="spinner-border text-secondary ms-2 mt-2" role="status">
							<span class="visually-hidden"></span>
						</div>
					</div>
				</div>
			</div>
			<div class="col d-none" id="telegramBotCommandKeyboardAddition">
				<div class="row row-cols-1 gy-2">
					<div class="col">
						<label class="mb-1" for="telegramBotCommandKeyboardModes">{% trans "Выберите клавиатуру" %}</label>
						<div class="input-group" id="telegramBotCommandKeyboardModes">
							<input class="btn-check" id="telegramBotCommandDefaultKeyboardRadio" name="telegramBotCommandKeyboardModes" type="radio" onclick="telegramBotCommandKeyboardType = 'default';" checked>
							<label class="btn btn-sm btn-outline-dark rounded-start w-50" for="telegramBotCommandDefaultKeyboardRadio">{% trans "Обычная" %}</label>
							<input class="btn-check" id="telegramBotCommandInlineKeyboardRadio" name="telegramBotCommandKeyboardModes" type="radio" onclick="telegramBotCommandKeyboardType = 'inline';">
							<label class="btn btn-sm btn-outline-dark rounded-end w-50" for="telegramBotCommandInlineKeyboardRadio">{% trans "Встроенная" %}</label>
						</div>
					</div>
					<div class="col">
						<label class="mb-2" for="telegramBotCommandKeyboardRows">{% trans "Доступные ряды" %}</label>
						<div class="row border rounded g-1 pb-1" id="telegramBotCommandKeyboardRows"></div>
					</div>
					<div class="col">
						<label class="mb-1" for="telegramBotCommandKeyboardButtons">{% trans "Клавиатура" %}</label>
						<div id="telegramBotCommandKeyboardButtons"></div>
						<button class="btn btn-sm btn-outline-dark w-100" id="telegramBotCommandAddKeyboardButton" type="button">{% trans "Добавить кнопку" %}</button>
					</div>
				</div>
			</div>
			<div class="col d-none" id="telegramBotCommandApiRequestAddition">
				<label class="mb-1" for="telegramBotCommandApiRequest">{% trans "API-запрос" %}</label>
				<input class="form-control mb-2" id="telegramBotCommandApiRequestUrlInput" type="text" placeholder="{% trans "Введите URL-адрес" %}">
				<div class="border rounded p-2">
					<div id="telegramBotCommandApiRequestDataEditor">
						<div class="spinner-border text-secondary ms-2 mt-2" role="status">
							<span class="visually-hidden"></span>
						</div>
					</div>
				</div>
			</div>
			<div class="col d-none" id="telegramBotCommandDatabaseRecordAddition">
				<label class="mb-1" for="telegramBotCommandDatabaseRecordDataInput">{% trans "Запись в базу данных" %}</label>
				<div class="border rounded p-2">
					<div id="telegramBotCommandDatabaseRecordDataEditor">
						<div class="spinner-border text-secondary ms-2 mt-2" role="status">
							<span class="visually-hidden"></span>
						</div>
					</div>
				</div>
			</div>
			<div class="col">
				<label class="mb-1" for="telegramBotCommandAddition">{% trans "Добавить" %}</label>
				<div class="border rounded w-100" id="telegramBotCommandAddition">
					<div class="row gy-1 py-1 px-3">
						<button class="btn btn-sm btn-dark" id="telegramBotCommandAddCommandAdditionButton" type="button">{% trans "Команду" %}</button>
						<button class="btn btn-sm btn-dark" id="telegramBotCommandAddImageAdditionButton" type="button">{% trans "Изображение" %}</button>
						<button class="btn btn-sm btn-dark" id="telegramBotCommandAddKeyboardAdditionButton" type="button">{% trans "Клавиатуру" %}</button>
						<button class="btn btn-sm btn-dark" id="telegramBotCommandAddApiRequestAdditionButton" type="button">{% trans "API-запрос" %}</button>
						<button class="btn btn-sm btn-dark" id="telegramBotCommandAddDatabaseRecordAdditionButton" type="button">{% trans "Запись в базу данных" %}</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="card-footer border-top p-0">
		<button class="btn btn-light back-add-telegram-bot-command-button border-0 border-bottom rounded-0 w-100 d-none" type="button" style="height: 42px;">{% trans "Вернуться к добавлению команды" %}</button>
		<button class="btn btn-light add-or-edit-telegram-bot-command-button border-0 rounded-top-0 w-100" id="0" type="button" style="height: 42px;">{% trans "Добавить команду" %}</button>
	</div>
</div>