{% load i18n %}

<div class="card border h-100">
	<h5 class="card-header border-bottom text-center">{% trans "Логи плагинов Telegram бота" %}</h5>
	<div class="card-body">
		<div class="d-flex">
			<div class="btn-group" role="group">
				<button class="btn btn-light border px-2 py-1" id="telegramBotPluginsLogsСollapseButton" type="button">
					<i class="bi bi-arrow-down d-flex" style="font-size: 20px;"></i>
				</button>
				<button class="btn btn-light border px-2 py-1" id="updateTelegramBotPluginsLogsButton">
					<i class="bi bi-arrow-repeat d-flex" style="font-size: 20px;"></i>
				</button>
			</div>
		</div>
		<div class="collapse mt-2" id="telegramBotPluginsLogsСollapse">
			<div class="list-group" id="telegramBotPluginsLogs"></div>
		</div>
	</div>
</div>