{% extends 'main.html' %}
{% load static %}

{% block title %}Меню Telegram бота{% endblock title %}

{% block styles %}
	<link rel="stylesheet" href="{% static 'css/personal_cabinet/telegram_bot_menu.css' %}">
{% endblock styles %}

{% block main_class %}my-3 my-lg-5{% endblock main_class %}

{% block body %}
	{% include 'telegram_bot_menu/modals/duplicate_telegram_bot_modal.html' %}
	{% include 'telegram_bot_menu/modals/add_or_edit_telegram_bot_command_modal.html' %}
{% endblock body %}

{% block main %}
	<div class="container">
		<div id="mainAlertPlaceholder"></div>
		<div class="row row-cols-1 row-cols-lg-2">
			<div class="col mb-2">
				<div class="card h-100">
					{% if telegram_bot.is_running %}
						<h5 class="card-header bg-success text-light fw-bold text-center">Telegram бот включен</h5>
					{% else %}
						<h5 class="card-header bg-danger text-light fw-bold text-center">Telegram бот выключен</h5>
					{% endif %}
					<div class="card-body">
						<table class="w-100 h-100"">
							<tbody>
								<tr>
									<td class="align-middle text-center">
										<a class="h5 link-dark text-decoration-none text-break" href="tg://resolve?domain={{ telegram_bot.name }}">@{{ telegram_bot.name }}</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="card-footer">
						{% if telegram_bot.is_running %}
							<button class="btn btn-outline-danger w-100 mt-1 mb-2" id="startOrStopTelegramBotButton" type="button">Выключить Telegram бота</button>
						{% else %}
							<button class="btn btn-outline-success w-100 mt-1 mb-2" id="startOrStopTelegramBotButton" type="button">Включить Telegram бота</button>
						{% endif %}
						<button class="btn btn-outline-secondary w-100 mb-2" id="duplicateTelegramBotModalButton" type="button">Дублировать Telegram бота</button>
						<button class="btn btn-outline-danger w-100 mb-1" id="deleteTelegramBotButton" type="button">Удалить Telegram бота</button>
					</div>
				</div>
			</div>
			<div class="col mt-3 mt-lg-0 mb-2">
				<table class="table mb-0">
					<thead>
						<tr>
							<h5 class="ms-1 mb-0">Информация о Telegram боте</h5>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th class="align-middle" scope="row">Имя:</th>
							<td class="text-break">
								<a class="link-dark text-decoration-none" href="tg://resolve?domain={{ telegram_bot.name }}">@{{ telegram_bot.name }}</a>
							</td>
						</tr>
						<tr>
							<th class="align-middle" scope="row">Токен:</td>
							<td class="text-break">{{ telegram_bot.token }}</td>
						</tr>
						<tr>
							<th scope="row">Приватный:</th>
							<td>
								<div class="form-check form-switch mb-0">
									<input class="form-check-input" id="telegramBotPrivateCheckBox" type="checkbox" value="{% if telegram_bot.private %}ON{% else %}OFF{% endif %}" {% if telegram_bot.private %}checked{% endif %}>
								</div>
							</td>
						</tr>
						<tr>
							<th scope="row">Количество активаций:</th>
							<td class="align-middle">{{ telegram_bot.users_count }}</td>
						</tr>
						<tr>
							<th scope="row">Количество команд:</th>
							<td class="align-middle">{{ telegram_bot.commands_count }}</td>
						</tr>
						<tr>
							<th scope="row">Дата добавление:</th>
							<td>{{ telegram_bot.date_added }}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col mt-3">
				<div class="card h-100">
					<h5 class="card-header text-center">Список команд Telegram бота</h5>
					<div class="card-body">
						<div class="list-group telegram-bot-commands"></div>
					</div>
					<div class="card-footer">
						<button class="btn btn-outline-dark w-100 my-1" id="addTelegramBotCommandModalButton" type="button">Добавить команду</button>
					</div>
				</div>
			</div>
			<div class="col mt-3">
				<table class="table mb-0">
					<thead>
						<tr>
							<h5 class="ms-1 mb-0">Список пользователей Telegram бота</h5>
						</tr>
					</thead>
					<tbody class="telegram-bot-users"></tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock main %}

{% block footer_class %}mt-auto{% endblock footer_class %}

{% block scripts %}
	<script src="{% static 'js/global/alert.js' %}"></script>
	<script src="{% static 'js/personal_cabinet/telegram_bot_menu/main.js' %}"></script>
	<script src="{% static 'js/personal_cabinet/telegram_bot_menu/duplicate_telegram_bot_modal.js' %}"></script>
	<script src="{% static 'js/personal_cabinet/telegram_bot_menu/add_or_edit_command_modal.js' %}"></script>
{% endblock scripts %}