{% extends 'base.html' %}

{% block title %}
	<title>Конструктор</title>
{% endblock title %}

{% block styles %}
	{% load static %}
	<link rel="stylesheet" href="{% static 'constructor/main_constructor/css/main_constructor.css' %}">
	{% block botStyles %} {% endblock botStyles %}
{% endblock styles %}

{% block content %}
	<div class="container">
		<h1 class="heading">СПИСОК БОТОВ</h1>
		<div class="bots-container">
			<div class="bots-list-container">
				{% for bot in bots %}
					<div class="bot id-{{bot.bot_id}}" id="normal">
						<p class="bot-name">
							<a href="{% block viewBotLink %}view_bot{% endblock viewBotLink %}/{{ bot.bot_id }}/">{{ bot.bot_name }}</a>
						</p>
						<button class="delete-bot-button-control" onclick="{{ bot.onclick }}">Удалить бота</button>
					</div>
				{% endfor %}
			</div>
			<div class="account-max" id="first">
				{% if user.status == 'Бесплатный' %}
					<h1 class="max-bots" style="background-color: #F04F53;">MAX: 1</h1>
					<button class="upgrade-account-buttom-control" onclick="window.location.href = '/account/{{ user.username }}/upgrade/';">Улучшить аккаунт</button>
				{% endif %}
				{% if user.status == 'Платный' %}
					<h1 class="max-bots" style="background-color: #5CC639;">MAX: 5</h1>
				{% endif %}
			</div>
			<button class="add-bot-button-control" onclick="addBotButtonClick('{% block addBotLink %}add_bot{% endblock addBotLink %}/')">Добавить бота</button>
		</div>
	</div>
	{% block botContainer %} {% endblock botContainer %}
{% endblock content %}

{% block scripts %}
	<script src="{% static 'constructor/main_constructor/js/main_constructor.js' %}"></script>
	{% block botScripts %}
		<script>
			const mainConstructorPage = true;
		</script>
	{% endblock botScripts %}
{% endblock scripts %}