{% extends 'main_constructor.html' %}

{% block viewBotLink %}../../view_bot{% endblock viewBotLink %}
{% block addBotLink %}../../add_bot{% endblock addBotLink %}

{% block botStyles %}
	{% load static %}
	<link rel="stylesheet" href="{% static 'constructor/view_bot/css/view_bot.css' %}">
{% endblock botStyles %}

{% block botContainer %}
	<div class="container" id="other">
		<h1 class="bot-heading">КОНСТРУКТОР БОТА {{ bot.name }}</h1>
		<div class="bot-constructor-form">
			<div class="bot-data-constructor-inputs">
				<input class="bot-name-input-control" type="text" placeholder="Придуймайте имя боту" value="{{ bot.name }}"></input>
				<input class="bot-token-input-control" type="password" placeholder="Введите Token бота" value="{{ bot.token }}"></input>
				<button class="bot-token-button-control" id="hideBotToken" onclick="hideOrShowButtonClick()"></button>
			</div>
			<div class="bot-data-constructor-buttons">
				{% if bot.online == False %}
					<button class="start-bot-button-control" onclick="startBotButtonClick()">Запустить бота</button>
				{% endif %}
				{% if bot.online == True %}
					<button class="stop-bot-button-control" onclick="stopBotButtonClick()">Остоновить бота</button>
				{% endif %}
				<button class="save-bot-settings-button-control" onclick="saveBotSettingsButtonClick()">Сохранить настройки</button>
			</div>
			<div class="bot-logs-container">
				<div class="bot-logs-table">
					{% for log in bot.logs %}
						{% if 'log_data_positsion' not in log %}
							<div class="bot-log">
						{% endif %}
						{% if 'log_data_positsion' in log %}
							<div class="bot-log" id="last">
						{% endif %}
							<p class="bot-log-data">{{ log.user_name }}:</p>
							<p class="bot-log-data">{{ log.user_message }}</p>
						</div>
					{% endfor %}
				</div>
				<button class="clear-bot-logs-button-control" onclick="clearBotLogsButtonClick()">Очистить логи</button>
			</div>
			<div class="bot-commands-container">
				<div class="bot-commands-table">
					{% for bot_command in bot.commands %}
						<div class="bot-command id-{{ bot_command.id }}" id="normal">
							<p class="bot-command-name">
								<a href="view_bot_command/{{ bot_command.id }}/">{{ bot_command.command }}</a>
							</p>
							<button class="delete-bot-command-button-control" onclick="deleteBotCommandButtonClick('{{ bot_command.id }}')">Удалить команду</button>
						</div>
					{% endfor %}
				</div>
				<div class="account-max" id="second">
					{% if user.status == 'Бесплатный' %}
						<h1 class="max-bots" style="background-color: #F04F53;">MAX: 15</h1>
						<button class="upgrade-account-buttom-control" onclick="window.location.href = '/account/{{ user.nickname }}/upgrade/';">Улучшить аккаунт</button>
					{% endif %}
					{% if user.status == 'Платный' %}
						<h1 class="max-bots" style="background-color: #5CC639;">MAX: ∞</h1>
					{% endif %}
				</div>
				<button class="add-bot-command-button-control" onclick="addBotCommandButtonClick('add_bot_command/')">Добавить команду</button>
			</div>
		</div>
	</div>
{% endblock botContainer %}

{% block botScripts %}
	<script>
		const mainConstructorPage = false;
	</script>
	<script src="{% static 'constructor/view_bot/js/view_bot.js' %}"></script>
{% endblock botScripts %}