{% extends 'base.html' %}
{% load i18n %}
{% load render_bundle from webpack_loader %}

{% block styles %}
{% render_bundle 'main' 'css' 'TELEGRAM_BOT_MENU:DEFAULT' %}
{% endblock styles %}

{% block main_class %}{% endblock main_class %}

{% block main %}
<div class="container vstack gap-3 gap-lg-4 my-3 my-lg-4">
	<nav class="nav nav-pills nav-fill bg-light border rounded gap-2 p-2" id="telegramBotMenuNavbar">
		{% url 'telegram_bot:frontend:index' telegram_bot.id as telegram_bot_menu_index_url %}
		<a class="nav-link link-dark {% if request.path == telegram_bot_menu_index_url %}active {% endif %}p-2" href="{{ telegram_bot_menu_index_url }}">{% trans 'Telegram бот' %}</a>

		{% url 'telegram_bot:frontend:variables' telegram_bot.id as telegram_bot_menu_variables_url %}
		<a class="nav-link link-dark {% if request.path == telegram_bot_menu_variables_url %}active {% endif %}p-2" href="{{ telegram_bot_menu_variables_url }}">{% trans 'Список переменных' %}</a>

		{% url 'telegram_bot:frontend:users' telegram_bot.id as telegram_bot_menu_users_url %}
		<a class="nav-link link-dark {% if request.path == telegram_bot_menu_users_url %}active {% endif %}p-2" href="{{ telegram_bot_menu_users_url }}">{% trans 'Список пользователей' %}</a>

		{% url 'telegram_bot:frontend:database' telegram_bot.id as telegram_bot_menu_database_url %}
		<a class="nav-link link-dark {% if request.path == telegram_bot_menu_database_url %}active {% endif %}p-2" href="{{ telegram_bot_menu_database_url }}">{% trans 'База данных' %}</a>

		{% url 'telegram_bot:frontend:plugins' telegram_bot.id as telegram_bot_menu_plugins_url %}
		<a class="nav-link link-dark {% if request.path == telegram_bot_menu_plugins_url %}active {% endif %}p-2" href="{{ telegram_bot_menu_plugins_url }}">{% trans 'Плагины' %}</a>

		{% url 'telegram_bot:frontend:constructor' telegram_bot.id as telegram_bot_menu_constructor_url %}
		<a class="nav-link link-dark {% if request.path == telegram_bot_menu_constructor_url %}active {% endif %}p-2" href="{{ telegram_bot_menu_constructor_url }}">{% trans 'Конструктор' %}</a>
	</nav>
	{% block content %}{% endblock content %}
</div>
{% endblock main %}

{% block footer %}
{% with footer_extra_class="mt-auto" %}
	{{ block.super }}
{% endwith %}
{% endblock footer %}

{% block scripts_data %}
{{ block.super }}
const telegramBotId = {{ telegram_bot.id }};
{% endblock scripts_data %}

{% block scripts %}
{% render_bundle 'main' 'js' 'TELEGRAM_BOT_MENU:DEFAULT' %}
{% endblock scripts %}