{% extends 'telegram_bot_menu/base.html' %}
{% load i18n %}
{% load render_bundle from webpack_loader %}

{% block title %}{% trans 'Telegram бот' %}{% endblock title %}

{% block styles %}
{% render_bundle 'main' 'css' 'TELEGRAM_BOT_MENU:INDEX' %}
{% endblock styles %}

{% block content %}
<div class="row g-3 g-lg-4">
	<div class="col-12 col-lg-6" id="telegramBotCard"></div>
	<div class="col-12 col-lg-6">
		<div class="row text-center g-3">
			{% trans 'Количество пользователей' as info_area_text %}
			{% include 'widgets/info_area.html' with class='col-6' value=telegram_bot.users.count text=info_area_text %}

			{% trans 'Количество команд' as info_area_text %}
			{% include 'widgets/info_area.html' with class='col-6' value=telegram_bot.commands.count text=info_area_text %}

			{% comment %} {% trans 'Активность за 24 ч.' as info_area_text %}
			{% include 'widgets/info_area.html' with class='col-6' value='0' text=info_area_text %} {% endcomment %}
		</div>
	</div>
</div>
{% endblock content %}

{% block scripts_data %}
{{ block.super }}
const personalCabinetUrl = "{% url 'personal_cabinet:index' %}";

{% include 'telegram_bot/frontend/components/telegram_bot_card/scripts_data.html' %}

const startTelegramBotMessage = "{% trans 'Вы успешно включили Telegram бота.' %}";
const stopTelegramBotMessage = "{% trans 'Вы успешно выключили Telegram бота.' %}";

const telegramBotCardFooterStartButtonText = "{% trans 'Включить Telegram бота' %}";
const telegramBotCardFooterStopButtonText = "{% trans 'Выключить Telegram бота' %}";

const askConfirmModalDeleteTelegramBotTitle = "{% trans 'Удаление Telegram бота' %}";
const askConfirmModalDeleteTelegramBotText = "{% trans 'Вы точно хотите удалить Telegram бота?' %}";

const telegramBotCardFooterDeleteButtonText = "{% trans 'Удалить Telegram бота' %}";
{% endblock scripts_data %}

{% block scripts %}
{% render_bundle 'main' 'js' 'TELEGRAM_BOT_MENU:INDEX' %}
{% endblock scripts %}