{% extends 'base.html' %}

{% block title %}
	<title>Регистрация</title>
{% endblock title %}

{% block styles %}
	{% load static %}
	<link rel="stylesheet" href="{% static 'registration/css/registration.css' %}">
{% endblock styles %}

{% block content %}
	<div class="container">
		<h1 class="heading">РЕГИСТРАЦИЯ</h1>
		<div class="registration-form">
			<input class="login-input-control" type="text" placeholder="Придумайте login"></input>
			<input class="email-input-control" type="text" placeholder="Введите свой email"></input>
			<input class="password-input-control" type="password" placeholder="Придумайте password"></input>
			<button class="password-button-control" id="hidePassword" onclick="hideOrShowButtonClick('.password-input-control')"></button>
			<input class="again-password-input-control" type="password" placeholder="Повторите password"></input>
			<button class="password-button-control" id="hideAgainPassword" onclick="hideOrShowButtonClick('.again-password-input-control')"></button>
		</div>
		<div class="buttons">
			<a class="have-account-button-control" href="../authorization">Уже есть аккаунт?</a>
			<button class="registration-button-control" onclick="registrationButtonClick()">Создать аккаунт</button>
		</div>
	</div>
{% endblock content %}

{% block scripts %}
<script src="{% static 'registration/js/registration.js' %}"></script>
{% endblock scripts %}