{% with 'addOrDuplicateTelegramBot' as modal_name %}
	<div class="modal fade" id="{{ modal_name }}Modal" tabindex="-1" aria-labelledby="{{ modal_name }}ModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="{{ modal_name }}ModalLabel">
						{% url 'personal_cabinet' as personal_cabinet %}
						{% if request.path == personal_cabinet %}
							Добавление
						{% else %}
							Дублирование
						{% endif %}
						Telegram бота
					</h5>
					<button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div id="{{ modal_name }}ModalAlertPlaceholder"></div>
					<div class="row row-cols-1">
						<div class="col mb-2">
							<form class="form-floating">
								<input class="form-control" id="{{ modal_name }}ApiTokenInput" type="text" placeholder="Введите API-токен Telegram бота">
								<label for="{{ modal_name }}ApiTokenInput">Введите API-токен Telegram бота</label>
							</form>
						</div>
						<div class="col-auto">
							<div class="form-check form-switch form-check-reverse mb-0">
								<input class="form-check-input" id="{{ modal_name }}IsPrivateCheckBox" type="checkbox">
								<label class="form-check-label" for="{{ modal_name }}IsPrivateCheckBox">Сделать Telegram бота приватным: </label>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-success w-100" id="{{ modal_name }}Button" type="button">
						{% url 'personal_cabinet' as personal_cabinet %}
						{% if request.path == personal_cabinet %}
							Добавить
						{% else %}
							Дублировать
						{% endif %}
						Telegram бота
					</button>
				</div>
			</div>
		</div>
	</div>
{% endwith %}