name: Main CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

env:
  SECRET_KEY: test_secret_key
  TELEGRAM_BOT_TOKEN: 12345:test
  FRONTEND_PATH: ''
  POSTGRESQL_DATABASE_NAME: postgres
  POSTGRESQL_DATABASE_USER: postgres
  POSTGRESQL_DATABASE_PASSWORD: postgres

jobs:
  code-quality:
    name: Code Quality Checks
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.11

      - name: Set up uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Install dependencies
        run: uv sync --locked

      - name: Run ruff
        run: uv run ruff check && uv run ruff format --check

      - name: Run mypy
        run: uv run mypy .
  tests:
    name: Run Tests
    needs: code-quality
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432
      redis:
        image: redis
        ports:
          - 6379:6379
    steps:
      - name: Check out repository
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.11

      - name: Set up uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Install dependencies
        run: uv sync --locked --no-dev

      - name: Run tests
        run: uv run manage.py test --verbosity 3
