.react-flow__handle {
	width: 12px;
	height: 12px;
	border-width: 1.5px;
}

$positions: 'top', 'bottom', 'left', 'right';

@each $position in $positions {
	.react-flow__handle-#{$position} {
		#{$position}: -6px;
	}
}