{% extends 'base.html' %}

{% block title %}
	<title>Авторизация</title>
{% endblock title %}

{% block styles %}
	{% load static %}
	<link rel="stylesheet" href="{% static 'authorization/css/authorization.css' %}">
{% endblock styles %}

{% block content %}
	<div class="container">
		<h1 class="heading">АВТОРИЗАЦИЯ</h1>
		<div class="authorization-form">
			<input class="login-input-control" type="text" placeholder="Введите login"></input>
			<input class="password-input-control" type="password" placeholder="Введите password"></input>
			<button class="password-button-control" id="hidePassword" onclick="hideOrShowButtonClick()"></button>
		</div>
		<div class="buttons">
			<a class="not-have-account-button-control" href="../registration/">Ещё нет аккаунта?</a>
			<button class="authorization-button-control" onclick="authorizationButtonClick()">Авторизоваться</button>
		</div>
	</div>
{% endblock content %}

{% block scripts %}
	<script src="{% static 'authorization/js/authorization.js' %}"></script>
{% endblock scripts %}